_site
.sass-cache
.jekyll-metadata
/vid
/file/info-360-design/the-news-video-prototype.mp4
/web/informatics-admission-portfolio/files/environmental-racism.pdf
/file/posts/2-1-19/34
/file/posts/2-1-19/38.4
/file/posts/2-1-19/44
/file/posts/2-1-19/54.8
/file/posts/2-1-19/down
/file/posts/2-1-19/down-34
/file/posts/2-1-19/down-38.4
/file/posts/2-1-19/down-44
/file/posts/2-1-19/down-54.8
/file/posts/2-1-19/long
/file/posts/2-1-19/long-34
/file/posts/2-1-19/long-38.4
/file/posts/2-1-19/long-44
/file/posts/2-1-19/long-54.8
/file/posts/2-1-19/long-down
/file/posts/2-1-19/long-down-34
/file/posts/2-1-19/long-down-38.4
/file/posts/2-1-19/long-down-44
/file/posts/2-1-19/long-down-54.8
/file/posts/2-1-19/long-up
/file/posts/2-1-19/long-up-34
/file/posts/2-1-19/long-up-38.4
/file/posts/2-1-19/long-up-44
/file/posts/2-1-19/long-up-54.8
/file/posts/2-1-19/up
/file/posts/2-1-19/up-34
/file/posts/2-1-19/up-38.4
/file/posts/2-1-19/up-44
/file/posts/2-1-19/up-54.8