---
layout: page-index
title: Joel Elizaga
keywords: joel elizaga index home
description: Joel Elizaga | UX, UI, HCI
---

<div id="index">

	<main>
		<div class="title">
			<h1>
				Projects
			</h1>
		</div>

		<div id="projects-grid">
			<div class="projects-row" id="web-projects">
				<h2>
					web
				</h2>
				<div class="projects">
				</div>
			</div>
			<div class="projects-row" id="mobile-projects">
				<h2>
					mobile
				</h2>
				<div class="projects">
				</div>
			</div>
			<div class="projects-row" id="design-projects">
				<h2>
					design
				</h2>
				<div class="projects">
				</div>
			</div>
			<div class="projects-row" id="video-projects">
				<h2>
					video
				</h2>
				<div class="projects">
				</div>
			</div>
		</div>
	</main>

	<main>
		<div id="bio">
			<div class="title">
				<h1>
					Bio
				</h1>
			</div>
			<div class="content">
				<p>
					Sup, faggot.
				</p>
			</div>
			<div id="portrait">
				<img src="{{site.baseurl}}/img/portrait/portrait.jpg" alt="Portrait: Joel Elizaga">
			</div>
		</div>
	</main>

</div>

<!-- ANIMATION ----------------------------------------------------------------------------------->

<div id="index-animation">

	<div id="terminal">
		<p class="term-line" id="first-prompt">
			<span class="prompt">jelizaga:~$ </span><span id="displayCmdTxt">&block;</span>
		</p>
		<p id="doneLine" class="term-line">
			done
		</p>
		<p id="enjoyLine" class="term-line">
			<span class="prompt">jelizaga:~$ </span><span id="enjoyTxt">&block;</span>
		</p>
		<p id="notFoundLine" class="term-line">
			Enjoy: command not found
		</p>
		<p id="bizCardLine" class="term-line">
			<span class="prompt">jelizaga:~$ </span><span id="bizCardTxt">&block;</span>
		</p>
	</div>

	<div id="hci-title" class="title-card">
		<h1>
			HCI<span class="star">&#8857;</span>UX<span class="star">&#8857;</span>UI
		</h1>
	</div>
	<div id="multimedia-title" class="title-card">
		<h1>
			multimedia
		</h1>
	</div>

</div>

<!-- PROJECT CAROUSEL ---------------------------------------------------------------------------->

<!-- For populating the carousel. -->
<div class="hidden">

	{% assign websites = site.websites | sort: 'order' | reverse %}
	{% for website in websites %}
		<div class="web-project project">
			<a href="{{website.url}}">
				<img src="{{site.baseurl}}/img/web/{{website.mini}}-sq.jpg" alt="{{website.url}}">
				<div class="project-footer">
					<p>
						{{website.title}}
					</p>
				</div>
			</a>
		</div>
	{% endfor %}

	{% assign apps = site.mobile | sort: 'order' | reverse %}
	{% for app in apps %}
		<div class="mobile-project project">
			<a href="{{app.url}}">
				<img src="{{site.baseurl}}/img/mobile/{{app.mini}}/{{app.mini}}-sq.jpg" alt="{{app.url}}">
				<div class="project-footer">
					<p>
						{{app.title}}
					</p>
				</div>
			</a>
		</div>
	{% endfor %}

	{% assign videos = site.videography | sort: 'order' | reverse %}
	{% for video in videos %}
		<div class="video-project project">
			<a href="{{video.url}}">
				<img src="{{site.baseurl}}/img/vid/{{video.mini}}/{{video.mini}}-sq.jpg" alt="{{video.url}}">
				<div class="project-footer">
					<p>
						{{video.title}}
					</p>
				</div>
			</a>
		</div>
	{% endfor %}

	{% assign others = site.miscellaneous | sort: 'order' | reverse %}
	{% for other in others %}
		<div class="design-project project">
			<a href="{{other.url}}">
				<img src="{{site.baseurl}}/img/other/{{other.mini}}/{{other.mini}}-sq.jpg" alt="{{video.url}}">
				<div class="project-footer">
					<p>
						{{other.title}}
					</p>
				</div>
			</a>
		</div>
	{% endfor %}

</div>

<style>

	#bio {
		overflow: hidden;
	}

	#bio .content {
		float: left;
	}

	#bio #portrait {
		float: right;
		width: 30%;
		padding: 0.5em;
	}

	#bio #portrait img {
		border-radius: 50%;
	}

	#projects-grid {
		overflow: hidden;
		position: relative;
	}

	#projects-grid .projects-row {
		height: 15vw;
		background-image: linear-gradient(black, yellow);
	}

	#projects-grid h2 {
		font-family: "Anonymous Pro";
		position: absolute;
		z-index: 2;
		color: #FFFFFF;
		background-color: #222222;
		display: inline-block;
		float: left;
		word-wrap: break-word;
		font-weight: normal;
		text-align: center;
		line-height: 1em;
		width: 1em;
		height: 15vw;
		padding: 0.5em;
		padding-left: 0.4em;
		padding-right: 0.4em;
		margin: 0;
	}

	#projects-grid h2 .symbol {
		font-size: 0.7em;
	}

	.projects-row .projects .project {
		display: inline-block;
		height: 15vw;
		width: 15vw;
		overflow: hidden;
		position: relative;
	}

	.projects {
		overflow: hidden;
		white-space: nowrap;
		height: 15vw;

	}

	.projects-row .project .project-footer {
		background-color: red;
		white-space: normal;
		text-align: center;
		width: 100%;
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: -61px;
		opacity: 0;
		color: #FFFFFF;
		text-shadow: 1px 2px #000;
		background-color: rgba(34, 34, 34, 0.8);
		transition: bottom 0.3s ease, opacity 0.3s ease;
	}

	.projects-row .project .project-footer p {
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-top: 0.3em;
		padding-right: 0.3em;
	}

	.projects-row .project:hover .project-footer {
		bottom: 0;
		opacity: 1;
	}

</style>

<script>

	// Dump all projects into corresponding arrays.
	var webProjects = $(".web-project");
	var mobProjects = $(".mobile-project");
	var desProjects = $(".design-project");
	var vidProjects = $(".video-project");

	for (var project = 0; project < webProjects.length; project++) {
		$("#web-projects > .projects").append(webProjects[project]);
	}

	for (var project = 0; project < mobProjects.length; project++) {
		$("#mobile-projects > .projects").append(mobProjects[project]);
	}

	for (var project = 0; project < desProjects.length; project++) {
		$("#design-projects > .projects").append(desProjects[project]);
	}

	for (var project = 0; project < vidProjects.length; project++) {
		$("#video-projects > .projects").append(vidProjects[project]);
	}

</script>