---
layout: page-index
title: Joel Elizaga
keywords: joel elizaga index home
description: Joel Elizaga | UX, UI, HCI
---

<main id="index">
	<div class="title">
		<h1>
			Projects
		</h1>
	</div>
	<div id="bio">
		<div class="content">
			<p>
				Sup, faggot.
			</p>
		</div>
		<div id="portrait">
			<img src="{{site.baseurl}}/img/portrait/portrait.jpg" alt="Portrait: Joel Elizaga">
		</div>
	</div>
	<div id="projects-grid">
	</div>
</main>

<!-- ANIMATION ----------------------------------------------------------------------------------->

<div id="index-animation">

	<div id="terminal">
		<p class="term-line" id="first-prompt">
			<span class="prompt">jelizaga:~$ </span><span id="displayCmdTxt">&block;</span>
		</p>
		<p id="doneLine" class="term-line">
			done
		</p>
		<p id="enjoyLine" class="term-line">
			<span class="prompt">jelizaga:~$ </span><span id="enjoyTxt">&block;</span>
		</p>
		<p id="notFoundLine" class="term-line">
			Enjoy: command not found
		</p>
		<p id="bizCardLine" class="term-line">
			<span class="prompt">jelizaga:~$ </span><span id="bizCardTxt">&block;</span>
		</p>
	</div>

	<div id="hci-title" class="title-card">
		<h1>
			HCI<span class="star">&#8857;</span>UX<span class="star">&#8857;</span>UI
		</h1>
	</div>
	<div id="multimedia-title" class="title-card">
		<h1>
			multimedia
		</h1>
	</div>

</div>


<!------------------------------------------------------------------------------------------------>
<!-- PROJECT CAROUSEL ---------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------>


<!-- For populating the carousel. -->
<div class="hidden">

	{% assign websites = site.websites | sort: 'order' | reverse %}
	{% for website in websites %}
		<div class="web-projects">
			<div class="project-carousel-item">
				<a href="{{website.url}}">
					<img src="{{site.baseurl}}/img/web/{{website.mini}}-sq.jpg" alt="{{website.url}}">
					<div class="project-carousel-item-footer">
						<p>
							{{website.title}}
						</p>
					</div>
				</a>
			</div>
		</div>
	{% endfor %}

	{% assign apps = site.mobile | sort: 'order' | reverse %}
	{% for app in apps %}
		<div class="mobile-projects">
			<div class="project-carousel-item">
				<a href="{{app.url}}">
					<img src="{{site.baseurl}}/img/mobile/{{app.mini}}/{{app.mini}}-sq.jpg" alt="{{app.url}}">
				</a>
				<div class="project-carousel-item-footer">
						<p>
							{{app.title}}
						</p>
					</div>
			</div>
		</div>
	{% endfor %}

	{% assign videos = site.videography | sort: 'order' | reverse %}
	{% for video in videos %}
		<div class="video-projects">
			<div class="project-carousel-item">
				<a href="{{video.url}}">
					<img src="{{site.baseurl}}/img/vid/{{video.mini}}/{{video.mini}}-sq.jpg" alt="{{video.url}}">
				</a>
				<div class="project-carousel-item-footer">
						<p>
							{{video.title}}
						</p>
					</div>
			</div>
		</div>
	{% endfor %}

	{% assign others = site.miscellaneous | sort: 'order' | reverse %}
	{% for other in others %}
		<div class="design-projects">
			<div class="project-carousel-item">
				<a href="{{other.url}}">
					<img src="{{site.baseurl}}/img/other/{{other.mini}}/{{other.mini}}-sq.jpg" alt="{{video.url}}">
				</a>
				<div class="project-carousel-item-footer">
						<p>
							{{other.title}}
						</p>
					</div>
			</div>
		</div>
	{% endfor %}

</div>

<style>

	#bio {
		overflow: hidden;
	}

	#bio .content {
		float: left;
	}

	#bio #portrait {
		float: right;
		width: 30%;
		padding: 0.5em;
	}

	#bio #portrait img {
		border-radius: 50%;
	}

</style>