---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/project/[project].astro //////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Generates pages for each project in `/src/project`.
// Pages will be @ path `/project/[slug]`, `[slug]` being the slug specified in
// the frontmatter of each project article.

import { getCollection } from "astro:content";
import Tag from "../../components/Tag.astro";
import Tooltip from "../../components/Tooltip.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection('projects', ({ data }) => {
    return data.draft !== true;
  })
  return (await projects).map(project => ({
    params: {
      project: project.slug
    },
    props: {
      project
    }
  }))
}

const {
  project
} = Astro.props;

const { 
  Content
} = await project.render();
---

<Layout 
  title={"TEST"}
  current={"projects"}
>
  <article 
    class="project"
  >
    <div 
      class="content"
    >
      <Content />
    </div>
  </article>
</Layout>

<style>
</style>