---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await Astro.glob("../../project/*.mdx");
  return (await projects).map(project => ({
    params: {
      project: project.frontmatter.slug
    },
    props: {
      project
    }
  }))
}

const { Content, frontmatter } = Astro.props.project;
---

<Layout 
  title={frontmatter.title}
>
  <main>
    <article class="noonoo-protruding-card">
      <h2>{frontmatter.title}</h2>
      <Content />
    </article>
  </main>
</Layout>