---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/project/[project].astro //////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Generates pages for each project in `/src/project`.
// Pages will be @ path `/project/[slug]`, `[slug]` being the slug specified in
// the frontmatter of each project article.

import Tag from "../../components/Tag.astro";
import Tooltip from "../../components/Tooltip.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await Astro.glob("../../project/*.mdx");
  return (await projects).map(project => ({
    params: {
      project: project.frontmatter.slug
    },
    props: {
      project
    }
  }))
}
const { Content, frontmatter } = Astro.props.project;

// `project-tray` visibility:
let projectTrayClasses = "project-tray";
const projectTrayVisibility = (
  frontmatter.github ||
  frontmatter.license
);
if (!projectTrayVisibility) {
  projectTrayClasses += "hidden";
}
---

<Layout 
  title={frontmatter.headTitle ? frontmatter.headTitle : frontmatter.title}
  currentPage={"projects"}
>
  <article 
    class="project"
  >
    <header>
    </header>
    <div class="content">
      <Content />
    </div>
  </article>
</Layout>

<style>
</style>