---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/blog/[blog].astro ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Generates pages for each blog post in `/src/blog`.
// Pages will be @ path `/blog/[slug]`, `[slug]` being the slug specified in the
// frontmatter of the blog post.

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const blogPosts = await Astro.glob("../../blog/*.mdx");
  return (await blogPosts).map(blog => ({
    params: {
      blog: blog.frontmatter.slug
    },
    props: {
      blog
    }
  }))
}

const { Content, frontmatter } = Astro.props.blog;
---

<Layout 
  title={frontmatter.title}
  currentPage={"blog"}
>
  <main>
    <article class="noonoo-protruding-card">
      <h2>{frontmatter.title}</h2>
      <Content />
    </article>
  </main>
</Layout>