---
// [blog].astro ////////////////////////////////////////////////////////////////
// Generates routes & pages for each blog post in `/src/blog`.
import Layout from "../../layouts/Layout.astro";

// Gets static paths for existing `blogPosts` and `map`s each path to a route
// in `/blog` with a URL derived from the `slug` contained in each post's
// `frontmatter`.
export async function getStaticPaths() {
  const blogPosts = await Astro.glob("../../blog/*.mdx");
  return (await blogPosts).map(blogPost => ({
    params: {
      blog: blogPost.frontmatter.slug
    },
    props: {
      blogPost
    }
  }))
}

const { Content, frontmatter } = Astro.props.blogPost;
---

<!-- Establishes layout for all `blogPosts`. -->
<Layout 
  title={frontmatter.title}
  currentPage={"blog"}
>
  <main>
    <article class="noonoo-protruding-card">
      <h2>{frontmatter.title}</h2>
      <Content />
    </article>
  </main>
</Layout>