<div class="mobile-menu">
	<div class="mobile-menu-head">
		Menu
	</div>
	<div class="mobile-menu-items">
		<a href="{{site.baseurl}}/index.html">
			<div class="mobile-menu-item">
				<img src="{{site.baseurl}}/img/nav/home-inactive.png">
				Home
			</div>
		</a>
		<a href="{{site.baseurl}}/resume.html">
			<div class="mobile-menu-item">
				<img src="{{site.baseurl}}/img/nav/resume-inactive.png">
				Resume
			</div>
		</a>
		<a href="{{site.baseurl}}/websites.html">
			<div class="mobile-menu-item">
				<img src="{{site.baseurl}}/img/nav/web-inactive.png">
				Web
			</div>
		</a>
		<a href="{{site.baseurl}}/mobile.html">
			<div class="mobile-menu-item">
				<img src="{{site.baseurl}}/img/nav/mobile-inactive.png">
				Mobile
			</div>
		</a>
		<a href="{{site.baseurl}}/videography.html">
			<div class="mobile-menu-item">
				<img src="{{site.baseurl}}/img/nav/movies-inactive.png">
				Movies
			</div>
		</a>
		<a href="{{site.baseurl}}/miscellaneous.html">
			<div class="mobile-menu-item">
				<img src="{{site.baseurl}}/img/nav/other-inactive.png">
				Miscellaneous
			</div>
		</a>
	</div>
</div>

<script src="{{site.baseurl}}/js/mobile-menu.js"></script>