<nav>

	<ul id="desktop-nav">
		<a href="{{site.baseurl}}/index.html">
			<li>
				<noscript>
					<img src="{{site.baseurl}}/img/nav/home-inactive.png">
				</noscript>
				<canvas id="homec" width="130" height="130"></canvas>
			</li>
		</a>
		<a href="{{site.baseurl}}/resume.html">
			<li>
				<noscript>
					<img src="{{site.baseurl}}/img/nav/resume-inactive.png">
				</noscript>
				<canvas class="small-button" id="resumec" width="90" height="90"></canvas>
			</li>
		</a>
		<a href="{{site.baseurl}}/web.html">
			<li>
				<noscript>
					<img src="{{site.baseurl}}/img/nav/web-inactive.png">
				</noscript>
				<canvas class="small-button" id="webc" width="90" height="90"></canvas>
			</li>
		</a>
		<a href="{{site.baseurl}}/mobile.html">
			<li>
				<noscript>
					<img src="{{site.baseurl}}/img/nav/mobile-inactive.png">
				</noscript>
				<canvas class="small-button" id="mobilec" width="90" height="90"></canvas>
			</li>
		</a>
		<a href="{{site.baseurl}}/videography.html">
			<li>
				<noscript>
					<img src="{{site.baseurl}}/img/nav/movies-inactive.png">
				</noscript>
				<canvas class="small-button" id="moviesc" width="90" height="90"></canvas>
			</li>
		</a>
		<a href="{{site.baseurl}}/other.html">
			<li>
				<noscript>
					<img src="{{site.baseurl}}/img/nav/other-inactive.png">
				</noscript>
				<canvas class="small-button" id="otherc" width="90" height="90"></canvas>
			</li>
		</a>
		<!--
		<a href="{{site.baseurl}}/education.html">
			<li>
				<noscript>
					<img src="{{site.baseurl}}/img/nav/education-inactive.png">
				</noscript>
				<canvas class="small-button" id="educationc" width="90" height="90"></canvas>
			</li>
		</a>
		-->
		<!--
		<a href="{{site.baseurl}}/about.html">
			<li>
				<noscript>
					<img src="{{site.baseurl}}/img/nav/about-inactive.png">
				</noscript>
				<canvas id="aboutc" width="90" height="90"></canvas>
			</li>
		</a>
		-->
	</ul>

</nav>

<script src="{{site.baseurl}}/js/nav.js"></script>