<nav>

	<ul>
		<li>
			<a href="{{site.baseurl}}/index.html">
				Joel Elizaga
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/resume.html">
				Resume
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/websites.html">
				Web
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/mobile.html">
				Mobile
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/videography.html">
				Videography
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/miscellaneous.html">
				Design
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/blog.html">
				Blog
			</a>
		</li>
	</ul>

</nav>