<nav>

	<ul>
		<li>
			<a href="{{site.newbaseurl}}/index.html">
				Joel Elizaga
			</a>
		</li>
		<li>
			<a href="{{site.newbaseurl}}/resume.html">
				Resume
			</a>
		</li>
		<li>
			<a href="{{site.newbaseurl}}/websites.html">
				Web
			</a>
		</li>
		<li>
			<a href="{{site.newbaseurl}}/mobile.html">
				Mobile
			</a>
		</li>
		<li>
			<a href="{{site.newbaseurl}}/videography.html">
				Videography
			</a>
		</li>
		<li>
			<a href="{{site.newbaseurl}}/miscellaneous.html">
				Design
			</a>
		</li>
		<li>
			<a href="{{site.newbaseurl}}/blog.html">
				Blog
			</a>
		</li>
	</ul>

</nav>