<nav>

	<ul id="desktop-nav">
		<a href="{{site.newbaseurl}}/index.html">
			<li>
				<noscript>
					<img src="{{site.newbaseurl}}/img/nav/home-inactive.png">
				</noscript>
				<canvas id="homec" width="130" height="130"></canvas>
			</li>
		</a>
		<a href="{{site.newbaseurl}}/resume.html">
			<li>
				<noscript>
					<img src="{{site.newbaseurl}}/img/nav/resume-inactive.png">
				</noscript>
				<canvas class="small-button" id="resumec" width="90" height="90"></canvas>
			</li>
		</a>
		<a href="{{site.newbaseurl}}/websites.html">
			<li>
				<noscript>
					<img src="{{site.newbaseurl}}/img/nav/web-inactive.png">
				</noscript>
				<canvas class="small-button" id="webc" width="90" height="90"></canvas>
			</li>
		</a>
		<a href="{{site.newbaseurl}}/mobile.html">
			<li>
				<noscript>
					<img src="{{site.newbaseurl}}/img/nav/mobile-inactive.png">
				</noscript>
				<canvas class="small-button" id="mobilec" width="90" height="90"></canvas>
			</li>
		</a>
		<a href="{{site.newbaseurl}}/videography.html">
			<li>
				<noscript>
					<img src="{{site.newbaseurl}}/img/nav/movies-inactive.png">
				</noscript>
				<canvas class="small-button" id="moviesc" width="90" height="90"></canvas>
			</li>
		</a>
		<a href="{{site.newbaseurl}}/miscellaneous.html">
			<li>
				<noscript>
					<img src="{{site.newbaseurl}}/img/nav/other-inactive.png">
				</noscript>
				<canvas class="small-button" id="otherc" width="90" height="90"></canvas>
			</li>
		</a>
		<!--
		<a href="{{site.newbaseurl}}/blog.html">
			<li>
				<noscript>
					<img src="{{site.newbaseurl}}/img/nav/blog-inactive.png">
				</noscript>
				<canvas class="small-button" id="blogc" width="90" height="90"></canvas>
			</li>
		</a>
	-->
		
	</ul>

</nav>

<script src="{{site.baseurl}}/js/post-nav.js"></script>