---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/bio.astro ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Bio page @ `/bio`.

import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.astro';
import Tooltip from '../components/Tooltip.astro';
import HyperlinkButtons from '../components/HyperlinkButtons.astro';
---

<Layout 
	title="Joel Elizaga · Bio"
	currentPage={"bio"}
>
	<article class="bio">
		<div class="content">
			<section>
				<div class="content">
					<h1>
						Hey there!
					</h1>
					<p>
						I'm <b>Joel Elizaga</b>. I'm a <code>UX engineer</code> and
						technologist fueled by a fascination for human-computer 
						interaction and informatics to build technologies that advance 
						human thriving.
					</p>
					<ul class="no-indent custom-bullets">
						<li class="fa-certificate">
							I've recently completed a certificate in 
							<a href="https://www.pce.uw.edu/certificates/full-stack-development-with-javascript">
								Full Stack Development with JavaScript
							</a>
							and I'm looking for work in <strong>front-end development</strong>,
							<strong>UX engineering</strong>, and <strong>full-stack development</strong>.
						</li>
						<li class="fa-briefcase">
							I've worked on numerous projects for large corporate clients, including
							Intel, T-Mobile, PwC, and the (admittedly non-corporate) city of
							Providence, RI as a <b>UX designer</b> at
							<a href="https://infosys.com" target="_blank">Infosys Ltd.</a>
						</li>
						<li class="fa-microchip">
							My aim is to build technologies that
							<strong>
								advance human thriving</strong>, 
								whether that's through development or design.
						</li>
					</ul>
				</div>
				<div class="illustration">
					<img
						src="/img/placeholder/placeholder1.jpg"
					>
				</div>
			</section>
			<section>
				<div class="content">
					<h2>
						<i class="fa-solid fa-drafting-compass"></i>
						<em>UX Designer</em> 
						@ Infosys Ltd.
					</h2>
					<p>
						As a UX design consultant at 
						<a
							target="_blank"
							href="https://infosys.com"
						>
							Infosys
						</a> 
						I worked with a multitude of clients, providing experience design 
						services to maximize competitive innovation, usability, and 
						optimize key product indicators:
					</p>
					<ul class="custom-bullets">
						<li class="fa-laptop">
							<strong>Semi-conductor manufacturer -</strong> 
							Complete reconceptualization and
							redesign of a shopper-facing marketing app featured in 
							electronics retailers internationally.
							<ul>
								<li>
									Conducted stakeholder workshops to stimulate divergent
									creativity, develop collective knowledge-sharing, and glean 
									actionable insights that would make for an effective and 
									impressive shopping and device-configuration experiences.
								</li>
								<li>
									Designed, built, and demonstrated interactive wireframe
									prototypes for client review, iterative revision, and 
									ultimately hand-off for visual design and development.
								</li>
								<li>
									Managed a design team of four dedicated to designing
									the retailer-facing administrative portal used
									to customize and install marketing experiences to be enjoyed
									by customers on floor-model computers, driving sales.
								</li>
								<li>
									Designed to up-sell and market client's latest technological
									advancements and flexibly feature the hardware components of
									countless and innumerably unique computers, from gaming
									laptops, barebone machines, all-in-ones, desktops, and even 
									models containing competitor technologies.
								</li>
								<li>
									Audited completed components for usability, WCAG 2.0
									accessibility, and adherence to design principles.
								</li>
							</ul>
						</li>
						<li class="fa-mobile-screen-button">
							<strong>Telecommunications company -</strong> 
							Redesigned web portal chatbot to drive self-service automation, 
							ticket deflection, and mobile service plan conversions.
						</li>
						<li class="fa-money-bill-trend-up">
							<strong>Accounting firm -</strong> 
							Heuristic audit of in-house benchmarking 
							mobile application used by financial consultants.
						</li>
					</ul>
					<p>
						This work being under NDA, I won't be showcasing it here.
					</p>
					<p>
						I hope, though, that you can appreciate my 
						<a href="#approach">approach</a>
						to design and see it in action through my
						<a href="/projects">available projects</a>.
					</p>
				</div>
				<div class="illustration">
					<img
						src="/img/placeholder/placeholder3.jpg"
					/>
				</div>
			</section>
			<section>
				<div class="content">
					<h2>
						<i class="fa-solid fa-flag-usa"></i>
						<em>Corps Member</em> 
						@ AmeriCorps NCCC
					</h2>
					<p>
						I served a year in
						<a href="https://americorps.gov/nccc" target="_blank">AmeriCorps NCCC</a>
						(<em>National Civilian Community Corps</em>)
						after graduating university, where I was assigned to the 
						southwestern United States. My team worked three major service 
						projects in partnerships with non-profit sponsors:
					</p>
					<ul class="custom-bullets">
						<li class="fa-bicycle">
							<strong>
								<a 
									target="_blank"
									href="https://sonorandesertmountainbicyclists.wildapricot.org/"
								>
								  Sonoran Desert Mountain Bicyclists
								</a>-</strong> 
							Built 3 miles of the 
							<a
								target="_blank" 
								href="https://www.trailforks.com/region/mckenzie-ranch/"
							>
								McKenzie Ranch
							</a> 
							system of multi-use & mountain bicycle trails in the Sonoran 
							Desert, around Tucson, AZ. Featured in
							<a href="https://www.thevailvoice.com/pima-county-now-has-a-cross-country-moutain-bike-trail/">
								<em>The Vail Voice</em></a>.
						</li>
						<li class="fa-leaf">
							<strong>
								<a 
								 	target="_blank"
									href="https://www.generationone.net/"
								>
									Generation One
								</a> -
							</strong> Directed volunteer groups on landscaping
							& hurricane recovery projects for senior citizens in the Third
							Ward of Houston, TX.
						</li>
						<li class="fa-tractor">
							<strong>
								<a href="https://www.facebook.com/NotForgottenOutreach/">
									Not Forgotten Outreach, Inc.
								</a>-</strong> Deforested & developed
							land for a newly implemented eco-therapy veteran service program
							in Taos, NM.
						</li>
					</ul>
					<p>
						I found NCCC to be an awesome exhibit of the restorative magic
						and strength of diversity:
					</p>
					<p>
						Corps members converge from across the U.S. from a kaleidoscope of
						experiences, abilities, cultures, economic disparities,
						personal convictions, and identities to
						work, eat, and live together while on a mission to strengthen
						communities across the nation. A prospering AmeriCorps team leverages
						its differences as strengths, effecting restorative change and
						building the resilient capacities of these communities which are 
						equally unique and just as diverse in their stories, circumstances,
						and needs.
					</p>
					<p>
						I believe that designing and developing technology that advances 
						human thriving requires a somewhat similar system; intentional 
						accountability to the users and stakeholders effected by the 
						technology, as well as an interfusion of a wide manifold of skills, 
						knowledge, perspectives, and experience that makes for complex, 
						resilient systems that can effectively adapt to challenges and 
						centers the needs and values of stakeholders.
					</p>
				</div>
				<div class="illustration">
					<img
						src="/img/placeholder/placeholder4.jpg"
					/>	
				</div>
			</section>
			<section>
				<div class="content">
					<h2>
						<i class="fa-solid fa-graduation-cap"></i>
						<em>Informatics Student</em> 
						@ University of Washington
					</h2>
					<p>
						I studied 
						<a
							target="_blank"
							href="https://ischool.uw.edu/programs/informatics"
						>
							informatics
						</a> 
						with a focus in
						<a
							target="_blank"
							href="https://ischool.uw.edu/programs/informatics/focus-areas#hci"
						>
							human-computer interaction</a>
						(<em>HCI</em>)
						at the 
						<a
							target="_blank"
							href="https://en.wikipedia.org/wiki/University_of_Washington"
						>
							University of Washington</a>, 
						graduating with my bachelors in 2017.
					</p>
					<p>
						The School of Information's mission is to train technologists who 
						<em>
							bend information technology towards equity and justice,
						</em>
						and it's home of the Value Sensitive Design Research Lab. During my
						studies I developed personal affinities for humane technologies,
						informatic integrity, and
						open-source software.
					</p>	
					<p>
						UW's School of Information is a fairly small department (my 
						undergraduate cohort was 33 students) with a heavily 
						interdisciplinarian and project-based curriculum designed to
						simulate the cross-domain collaboration of the tech industry.
					</p>
					<p>
						I specialized in HCI, supporting projects 
						with UX work and design, but I found aspects of developing software
						compelling in their own right. I've got a soft spot for the 
						technical and precise, and while I enjoyed designing experiences,
						the computer science curriculum taught me that I could build my own 
						tools out of ASCII characters and some logic, and I found that 
						enchanting enough to remain at the intersection of design and 
						development. As someone fascinated by technology, its design, and
						its cybernetically augmenting/psychosocial/cultural role in our
						lives, fussing around with the tools used to construct the stuff
						has its draw.
					</p>
				</div>
				<div class="illustration">
					<img src="/img/placeholder/placeholder5.jpg"
					/>
				</div>
			</section>
			<section>
				<div class="content">
					<h2>
						<i class="fa-solid fa-film"></i>
						<em>Video Production Intern</em> 
						@ AnswerDash
					</h2>
					<p>
						While studying at the University of Washington I interned as a
						video producer at 
						<a
							target="_blank"
							href="https://answerdash.com"
						>AnswerDash</a>,
						a SaaS startup founded by two professors of the School of
						Information.
					</p>
					<p>
						I produced explainers for each of AnswerDash's products as well as 
						promotional material. This entailed conceptualizing each video,
						writing scripts, selecting and directing talent, recording footage 
						and screen captures demonstrating the product, creating compelling 
						motion graphics that featured AnswerDash's snappy ease-of-use,
					  and revising content in a iterative Agile-like process to
						deliver videos that served as the company's sole motion picture
						strategy online.
					</p>
					<p>
						<i class="fa-solid fa-video"></i>
						<a
							target="_blank"
							href="https://vimeo.com/showcase/10424103"
						>
							Check out my AnswerDash work.
						</a>
					</p>
				</div>
				<div class="illustration">
					<img src="/img/placeholder/placeholder5.jpg"
					/>
				</div>
			</section>
			<section>
				<div class="content">
					<h2>
						That's the jist of it!
					</h2>
					<p>
						Thanks for sticking around.
					</p>
					<ul class="custom-bullets no-indent">
						<li class="fa-resume">
							Grab <a href="/doc/joel_elizaga_resume.pdf">my resume</a>
							if you're a recruiter/web-crawling bot and visit 
							<a href="https://linkedin.com/in/joel-elizaga" target="_blank">
								my LinkedIn</a>,
						</li>
						<li class="fa-drafting-compass">
							Check out my work <a href="/projects">here</a> or on 
							<a href="https://github.com/jelizaga" target="_blank">GitHub</a>,
						</li>
						<!-- <li class="fa-atlas"> -->
							<!-- Read my techno-centric human-computer interaction musings on my -->
							<!-- <a href="/blog">blog</a> if you've got time, -->
						<!-- </li> -->
						<li class="fa-envelope">
							And <a href="/#contact">contact me</a> if you wish.
						</li>
					</ul>
				</div>
				<div class="illustration">
					<img
						src="/img/placeholder/placeholder5.jpg"
					/>
				</div>
			</section>
			<!--
			<section>
				<div class="content">
					<h3>... you're still here?</h3>
					<p>
						Okay, you win. Here's my obligatory ice-breaker 'fun facts':
					</p>
					<h4>Fun Fact #1: The time I met Ted Cruz</h4>
					<p>
						Once upon a time I met Senator Ted Cruz;
					  my AmeriCorps team was staffing 
						Generation One's donation booth at, get this—a 1v1 charity
						basketball game between Cruz and Jimmy Kimmel; the "Blobfish
						Basketball Classic."
					</p>
					<p>
						Our team got front seats.
					</p>
					<p>
						It was a really bizarre event, because it was a game solely between
						two fairly out-of-shape dudes spectated by the completely
						packed
						colosseum-like bowl of Texas Southern University, and for the
						most part it was totally silent with the exception of their
						squeaking sneakers and heavy panting blasting over the PA
						speakers as they blocked each other's shots for 2 hours and
						took intermittent breaks to very politely trash talk.
					</p>
					<p>
						It's not on my LinkedIn or resume, but I studied at the Evergreen
						State College for two years prior to transferring to the
						University of Washington.
					</p>
					<p>
						Also, since corps members are forbidden from touching cash in public
					</p>
					<ul>
						<li>
							Evergreen is a local legend for having written transcripts
						</li>
						<li>
							Evergreen's mascot is the
							<a href="https://en.wikipedia.org/wiki/Geoduck">geoduck</a>, 
							and our official motto is <em>omnia extares</em>, which
							translates to <em>let it all hang out.</em>
						</li>
						<li>
							I took a class on the <em>Evolution of Human Language</em>,
							which was co-taught by Bret Weinstein.
						</li>
					</ul>
				</div>
				<div class="illustration">
					<img
						src="/img/placeholder/placeholder4.jpg"
					/>	
				</div>
			</section>
			-->
		</div>
		<div class="hyperlink-sidebar">
			<HyperlinkButtons
				buttons={[
					{
						href: "/doc/joel_elizaga_resume.pdf",
						target: "_blank",
						icon: "fa-solid fa-file-pdf",
						tooltipContent: "Resume",
						tooltipId: "bio-resume-tooltip"
					},
					{
						href: "https://linkedin.com/in/joel-elizaga",
						target: "_blank",
						icon: "fa-brands fa-linkedin",
						tooltipContent: "LinkedIn",
						tooltipId: "bio-linkedin-tooltip"
					},
					{
						href: "https://github.com/jelizaga",
						target: "_blank",
						icon: "fa-brands fa-github",
						tooltipContent: "GitHub",
						tooltipId: "footer-github-tooltip"
					},
					{
						href: "/#contact",
						target: "_blank",
						icon: "fa-solid fa-envelope",
						tooltipContent: "Contact",
						tooltipId: "footer-contact-tooltip"
					}
				]}	
				buttonDirection={"column"}
				tooltipPosition={"left"}
				display={"flat"}
			/>
		</div>
	</article>
</Layout>

<style>
	.bio {
		/* display: flex; */
		height: 100%;
		margin: 0;
		width: 100%;
	}

	.bio .content {
		margin: 0;
		padding: 0;
		/* width: calc(100% - 1.5rem - 1.2rem - 1.2rem); */
		width: 100%;
	}

	.bio .hyperlink-sidebar {
		background-color: var(--tahoma_white_dim);
		border-bottom-left-radius: 1.4rem;
		border-top-left-radius: 1.4rem;
		box-shadow: var(--noonoo_right_protrusion_shadow);
		display: block;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		right: -1.5rem;
		z-index: 2;
	}

	.bio .hyperlink-sidebar .hyperlink-buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: fixed;
	}

	.bio section {
		border-bottom: 0.5rem solid var(--tahoma_white_dim);
		display: grid;
		grid-template-columns: var(--pct_golden_ratio_small) var(--pct_golden_ratio_big);
		grid-template-areas:
			"content illustration";
		min-height: 100vh;
		/* scroll-snap-align: start; */
	}

	.bio section .content {
		box-sizing: border-box;
		grid-area: content;
		padding-bottom: 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 1rem;
		width: 100%;
	}

	.bio section .illustration {
		grid-area: illustration;
		overflow: hidden;
	}

	.bio section .illustration img {
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
	}

	@media screen and (max-width: 1130px) {
		.bio section {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			grid-template-areas: 
				"illustration"
				"content";
		}
	}

</style>