---
import "../style/main.css"
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Joel Elizaga | Bio"
	currentPage={"bio"}
>
	<main>
		<h1>Bio</h1>
	</main>
</Layout>

<style>
</style>