---
import "../style/main.css"
import Layout from '../layouts/Layout.astro';
---

<Layout title="Joel Elizaga | Bio">
	<main>
		<h1>Bio</h1>
		<p>Test test test.</p>
		<img src="../../public/img/test_img.jpg">
		<p class="caption">Here's some seagulls.</p>
	</main>
</Layout>

<style>
</style>