---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/bio.astro ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Bio page @ `/bio`.

import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Joel Elizaga | Bio"
	currentPage={"bio"}
>
	<Header
		heading="Bio"
		headingIcon="fa-solid fa-face-smile"
		bgSrc="/img/placeholder/placeholder4.jpg"
		slug="/bio"
	/>
	<main>
	</main>
</Layout>

<style>
</style>