---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/bio.astro ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Bio page @ `/bio`.

import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.astro';
import Tooltip from '../components/Tooltip.astro';
import HyperlinkButtons from '../components/HyperlinkButtons.astro';
---

<Layout 
	title="Joel Elizaga | Bio"
	currentPage={"bio"}
>
	<main class="bio">
		<section>
			<div class="content">
				<h1>
					Hey there!
				</h1>
				<p>
					I'm <b>Joel</b>. I'm a <code>UX engineer</code>: I practice at the noisy intersection of 
					human-computer interaction and development.
				</p>
				<p>
					I've worked on numerous projects for large corporate clients, including
					Intel, T-Mobile, PwC, and the (admittedly non-corporate) city of
					Providence, RI as a <b>UX designer</b> at
					<a href="https://infosys.com">Infosys Ltd.</a>
				</p>
			</div>
			<div class="illustration"></div>
		</section>
		<section>
			<div class="content">
				<p>
					I served a year in 
					<a href="https://americorps.gov" target="_blank">AmeriCorps NCCC</a>
					prior to my work as a UX designer.
				</p>
				<p>
					My team worked a bevvy of service projects supporting non-profits
					across the southwestern United States:
				</p>
				<p>
					I built trails in the Sonoran Desert, did a little deforestation and
					infrastructure-building for an agritherapy retreat for veterans and gold 
					star families in Taos, and led volunteer groups on landscaping and
					hurricane recovery projects for senior citizens of the Third Ward in 
					Houston.
				</p>
			</div>
			<div class="illustration"></div>
		</section>
		<section>
			<div class="content">
				<p>
					I studied 
					<a 
						href="https://ischool.uw.edu/programs/informatics"
						target="_blank"
					><b>informatics</b></a>
					with a focus in <em>human-computer interaction</em> (HCI) at the 
					<a 
						href="https://en.wikipedia.org/wiki/University_of_Washington"
						target="_blank"
					>University of Washington</a>,
					graduating with my bachelor of science in 2017.
				</p>
			</div>
			<div class="illustration"></div>
		</section>
		<section>
			<div class="content">
				<p>
					While studying at UW I interned as a video producer at
					<a href="https://answerdash.com" target="_blank">AnswerDash</a>, a
					SaaS startup founded by professors of information
					<a href="https://faculty.washington.edu/wobbrock/">Jake Wobbrock</a>
					and <a href="https://faculty.washington.edu/ajko">Amy Ko</a> of the
					university's informatics department.
				</p>
			</div>
		</section>
		<section>
			<div class="content">
				
			</div>
		</section>
	</main>
</Layout>

<style>

	.bio {
		display: block;
		height: 100vh;
		overflow-y: scroll;
		scroll-snap-type: mandatory;
		scroll-snap-type: y mandatory;
	}

	.bio section {
		display: grid;
		grid-template-columns: var(--vw_golden_ratio_small) var(--vw_golden_ratio_big);
		grid-template-areas:
			"content illustration";
		min-height: 100vh;
		scroll-snap-align: start;
	}

	.bio section .content {
		grid-area: content;
		padding-bottom: 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 1rem;
	}

	.bio section .illustration {
		grid-area: illustration;
	}

	@media screen and (max-width: 1130px) {
		.bio section {
			grid-template-columns: auto;
			grid-template-rows: var(--vh_golden_ratio_big) auto;
			grid-template-areas: 
				"illustration"
				"content";
		}
	}

</style>