---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/index.astro //////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Home page @ `/`.

import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
import Introduction from '../components/Introduction.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import HeaderBar from '../components/HeaderBar.astro';
import IndexContact from '../components/IndexContact.astro';
---

<Layout 
	title="Joel Elizaga | UX Engineer"
	description="Building usable and useful technologies."
	headerShadow={true}
	currentPage={"home"}
>
	<Introduction />
	<main>
		<HeaderBar
			heading="Projects"
			icon="fa-solid fa-drafting-compass"
			id="projects"
		/>
		<section class="centered">
			<ProjectsGrid />
		</section>
		<IndexContact />
	</main>
</Layout>

<style>
	.header-bar {
		box-shadow: var(--noonoo_protrusion_bright);
		margin-bottom: 1rem;
	}
	.header-bar h2 {
		margin-left: auto;
		margin-right: auto;
		width: var(--vw_golden_ratio_big);
	}
</style>