---
import "../style/main.css"
import Layout from '../layouts/Layout.astro';
---

<Layout title="Joel Elizaga | Software Engineer">
	<main>
		<h1>Hello, world.</h1>
		<p>Test test test.</p>
		<img src="/img/placeholder/placeholder1.jpg">
		<p class="caption">Here's some seagulls.</p>
		<p>Here's some more <a href="/blog">text</a>.</p>
	</main>
</Layout>

<style>
</style>