---
import "../style/main.css"
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Joel Elizaga | Software Engineer"
	headerShadow={true}
>
	<div class="index-hero">

	</div>
	<main>
		<div class="noonoo-protruding-card">
			<h1>Hello, world.</h1>
			<p>Test test test.</p>
			<img src="/img/placeholder/placeholder1.jpg">
			<p class="caption">Here's some seagulls.</p>
			<p>Here's some more <a href="/blog">text</a>.</p>
		</div>
		<div id="contact" class="noonoo-protruding-card">
			<h2><i class="fa-solid fa-paper-plane"></i> Contact</h2>
			<form>
				<label for="full-name">Full Name</label>
				<input
					type="text"
					id="full-name"
					name="full-name"
					placeholder="John Doe"
				/>
				<label for="email">Email</label>
				<input 
					type="email" 
					id="email" 
					name="email"
					placeholder="name@example.com"
				/>
				<label for="organization">Organization</label>
				<input 
					type="text" 
					id="organization" 
					name="organization"
					placeholder="ACME, Inc."
				/>
				<label for="project">Project</label>
				<select id="project" name="project">
					<option>Web Development</option>
					<option>UX</option>
				</select>
			</form>
		</div>
	</main>
</Layout>

<style>
</style>