---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/index.astro //////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Home page @ `/`.

import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Introduction from '../components/Introduction.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
---

<Layout 
	title="Joel Elizaga | UX Engineer"
	description="Building usable and useful technologies."
	headerShadow={true}
	currentPage={"home"}
>
	<Introduction />
	<main>
		<div id="projects" class="noonoo-protruding-card">
			<h2>
				<i class="fa-solid fa-compass-drafting"></i> Projects
			</h2>
			<ProjectsGrid />
		</div>
		<Contact />
	</main>
</Layout>

<style>
	#projects {
		padding-bottom: 1rem;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 1rem;
	}
</style>