---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/index.astro //////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Home page @ `/`.

import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Introduction from '../components/Introduction.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import ProjectsCard from '../components/ProjectsCard.astro';
---

<Layout 
	title="Joel Elizaga | UX Engineer"
	description="Building usable and useful technologies."
	headerShadow={true}
	currentPage={"home"}
>
	<Introduction />
	<main>
		<ProjectsCard />
		<Contact />
	</main>
</Layout>