---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/index.astro //////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Home page @ `/`.

import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
import Projects from '../components/Projects.astro';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Introduction from '../components/Introduction.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
---

<Layout 
	title="Joel Elizaga | UX Engineer"
	headerShadow={true}
	currentPage={"home"}
>
	<Introduction />
	<main>
		<h2>
			<i class="fa-solid fa-compass-drafting"></i> Projects
		</h2>
		<ProjectsGrid />
		<Contact />
	</main>
</Layout>

<style>
</style>