---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/project.astro ////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Project portfolio @ `/projects`.

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProjectItemGrid from "../components/Project/ProjectItemGrid.astro";
import { Debug } from "astro:components";

const projects = await getCollection('projects', ({ data }) => {
  return data.draft !== true;
});
---

<Layout
  title="Joel Elizaga · Projects"
  current={"projects"}
>
  <section>
    {projects &&
      <ProjectItemGrid
        projects={projects}
        heading="h2"
      />
    }
  </section>
</Layout>

<style>
  section {
  }
</style>