---
////////////////////////////////////////////////////////////////////////////////
// /src/pages/project.astro ////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Project portfolio @ `/projects`.

import Layout from "../layouts/Layout.astro";
import ProjectsGrid from "../components/ProjectsGrid.astro";
import Header from "../components/Header.astro";
---

<Layout
  title="Joel Elizaga | Projects"
  currentPage={"projects"}
>
  <Header
    heading="Projects"
    headingIcon="fa-solid fa-compass-drafting"
    img="/img/placeholder/placeholder5.jpg"
  />
  <main>
    <ProjectsGrid />
  </main>
</Layout>