/**
Personal theme for Prism components.
Based on xonokai (https://github.com/PrismJS/prism-themes/blob/master/themes/prism-xonokai.css).
**/

code[class*="language-"],
pre[class*="language-"] {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: "Comic Code Ligatures", monospace;
	font-size: 0.65rem;
	color: var(--spectacular_red_glow);
	text-shadow: none;
}

pre > code[class*="language-"] {
	font-size: 0.65rem;
  line-height: 1.1rem;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: var(--lawetlatla_ash_dim);
  box-shadow: var(--noonoo_depression_dim), var(--noonoo_protrusion_bright);
}

pre[class*="language-"] {
	margin: 0;
  padding-bottom: 0.3rem;
	padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
	overflow: auto;
	position: relative;
}

pre[class*="language-"] code {
	white-space: pre;
	display: block;
}

:not(pre) > code[class*="language-"] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: .3em;
	border: 0.13em solid #7a6652;
	box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #A39BA8;
}

.token.operator,
.token.boolean,
.token.number {
	color: var(--rain_city_emerald_glow);
}

.token.attr-name,
.token.string {
	color: #F4E04D;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #F4E04D;
}

.token.selector,
.token.inserted {
	color: var(--whulge_blue_glow);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
	color: #8B80F9;
}

.token.regex,
.token.statement {
	color: var(--spectacular_red_glow);
}

.token.placeholder,
.token.variable {
	color: var(--tahoma_white_bright);
}

.token.important,
.token.statement,
.token.bold {
	font-weight: bold;
}

.token.punctuation {
	color: #bebec5;
}

.token.entity {
	cursor: help;
}

.token.italic {
	font-style: italic;
}

code.language-markup {
	color: #f9f9f9;
}

code.language-markup .token.tag {
	color: #8B80F9;
}

code.language-markup .token.attr-name {
	color: var(--whulge_blue_glow);
}

code.language-markup .token.attr-value {
	color: #F4E04D;
}

code.language-markup .token.style,
code.language-markup .token.script {
	color: var(--spectacular_red_glow);
}

code.language-markup .token.script .token.keyword {
	color: var(--spectacular_red_glow);
}

/* Line highlight plugin */
.line-highlight.line-highlight {
	padding: 0;
	background: rgba(255, 255, 255, 0.08);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
	height: 1em;
	line-height: 1em;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}