/*////////////////////////////////////////////////////////////////////////////*/
/* Global ////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/* Contains primary global CSS and my Noonoo design language. */

/* Typography ////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../../public/font/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
       url("../../public/font/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../../public/font/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"),
       url("../../public/font/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../../public/font/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"),
       url("../../public/font/Atkinson-Hyperlegible-Italic-102.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../../public/font/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"),
       url("../../public/font/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 81px;
  line-height: 125px;
}

h2 {
  font-size: 64px;
  line-height: 100px;
}

h3 {
  font-size: 50px;
  line-height: 80px;
}

h4 {
  font-size: 39px;
  line-height: 64px;
}

a {
  text-decoration: none;
}

.caption, .subheading {
  font-size: 24px;
  line-height: 42px;
  margin: 0;
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Color palette ///////////////////////////////////////////////////////////*/
  --tahoma_white_bright: #FFFDFD;
  --tahoma_white_dim: #F2F0F0;
  --tahoma_white_glow: #FFFFFF;
  --lawetlatla_ash_bright: #495755;
  --lawetlatla_ash_dim: #343E3d;
  --spectacular_red_bright: #E60000;
  --spectacular_red_dim: #CC0000;
  --spectacular_red_glow: #F60000;
  --spectacular_red_glow_transparent: #F6000021;
  --rain_city_emerald_bright: #23D16C;
  --rain_city_emerald_dim: #1EAE5A;
  --rain_city_emerald_glow: #25E074;
  --rain_city_emerald_glow_transparent: #25E07421;
  --whulge_blue_bright: #2CB0C4;
  --whulge_blue_dim: #009FB7;
  --whulge_blue_glow: #2FBCD2;
  --whulge_blue_glow_transparent: #2FBCD221;
  /* Noonoo //////////////////////////////////////////////////////////////////*/
  /* Bright */
  --noonoo_protrusion_bright: 5px 5px 10px #DCDADA, -5px -5px 10px var(--tahoma_white_glow);
  --noonoo_depression_bright: inset -5px -5px 10px var(--tahoma_white_glow), inset 5px 5px 10px #DCDADA;
  --noonoo_ceiling_protrusion_bright: 0px 5px 10px #DCDADA;
  --noonoo_floor_protrusion_bright: 0px -5px 10px #DCDADA;
  --noonoo_floating_card_bright: 5px 5px 10px #DCDADA;
  --noonoo_protrusion_rounded_bright: linear-gradient(145deg, var(--tahoma_white_glow), #DAD8D8);
  --noonoo_protrusion_rounded_lawetlatla_ash_bright: linear-gradient(145deg, #4e5d5b, #424e4d);
  --noonoo_protrusion_rounded_lawetlatla_ash_dim: linear-gradient(145deg, #384241, #2f3837);
  --noonoo_protrusion_rounded_spectacular_red_bright: linear-gradient(145deg, var(--spectacular_red_glow), #cf0000);
  --noonoo_protrusion_rounded_spectacular_red_dim: linear-gradient(145deg, #da0000, #b80000);
  --noonoo_protrusion_rounded_rain_city_emerald_bright: linear-gradient(145deg, var(--rain_city_emerald_glow), #20bc61);
  --noonoo_protrusion_rounded_rain_city_emerald_dim: linear-gradient(145deg, #20ba60, #1b9d51);
  --noonoo_protrusion_rounded_whulge_blue_bright: linear-gradient(145deg, var(--whulge_blue_glow), #289eb0);
  --noonoo_protrusion_rounded_whulge_blue_dim: linear-gradient(145deg, #00aac4, #008fa5); 
  /* Default colors //////////////////////////////////////////////////////////*/
  background: var(--tahoma_white_dim);
  color: var(--lawetlatla_ash_dim);
  /* Typography //////////////////////////////////////////////////////////////*/
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 31px;
  line-height: 52px;
}

body {
  margin: 0;
}

main {
  background-color: var(--tahoma_white_dim);
  border-radius: 66px;
  box-shadow: var(--noonoo_protrusion_bright);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 44px;
  width: 1186px;
}

img {
  max-width: 100%;
}

.noonoo_depression_bright {
  box-shadow: var(--noonoo_depression_bright);
}

.noonoo_protrusion_bright {
  box-shadow: var(--noonoo_protrusion_bright);
}

.tooltip .tooltip-bubble {
  background-color: var(--tahoma_white_dim);
  bottom: 100%;
  box-shadow: var(--noonoo_floating_card_bright);
  color: var(--lawetlatla_ash_bright);
  font-size: 24px;
  line-height: 42px;
  position: absolute;
  visibility: hidden;
  width: 120px;
}

.tooltip:hover .tooltip-bubble {
  visibility: visible;
  z-index: 1;
}