div.media {
  box-shadow: var(--protrusion_tahoma_white_dim);
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

div.media.captioned {

}

div.media div.container {
  border-radius: 1.4rem;
  display: block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}

div.media div.container::before {
  content: "";
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

div.media div.container img,
div.media div.container video {
  cursor: zoom-in;
  display: block;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

div.media.captioned div.container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.media div.caption {
  padding-left: 2rem;
  padding-right: 2rem;
}

div.media div.popup {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

div.media div.popup div.card {
  box-shadow: var(--shadow_floating);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: 1rem;
}

div.popup {
  position: fixed;
  z-index: 2;
}

div.popup div.background {
  background: #343E3D80;
  height: 100%;
  width: 100%;
} 