div.media {
  box-shadow: var(--protrusion_tahoma_white_dim);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

div.media div.container {
  border-radius: 1.4rem;
  display: block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}

div.media div.container::before {
  border-radius: 1.4rem;
  box-shadow: var(--depression_img);
  content: "";
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

div.media div.container img,
div.media div.container video {
  cursor: zoom-in;
  display: block;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

div.media.captioned div.container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.media.captioned div.container::before {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.media div.caption {
  background-color: var(--tahoma_white_dim);
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  padding-bottom: 0.3rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.3rem;
}

div.media div.caption,
div.media div.caption p {
  font-size: var(--c5_font_size_0);
  line-height: var(--c5_line_height_0);
}

/* Popup: ////////////////////////////////////////////////////////////////////*/

div.media div.popup {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

div.media div.popup div.card {
  box-shadow: var(--shadow_floating);
  width: calc(100vw - var(--grid_margin) - var(--grid_margin));
}

@media screen and (max-width: 750px) {

  div.media div.popup div.card {
    width: calc(100vw - var(--grid_margin_min) - var(--grid_margin_min));
  }

}

div.media div.popup div.card div.container {
  border-top-left-radius: 1.4rem;
  border-top-left-radius: 1.4rem;
  overflow: hidden;
}

div.media div.popup div.card div.caption,
div.media div.popup div.card div.caption p {
  font-size: var(--c5_font_size_1);
  line-height: var(--c5_line_height_1);
}

/* Navigation: ///////////////////////////////////////////////////////////////*/

div.navigation {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 20%;
  z-index: 1;
}

div.navigation.prev {
  left: 0;
  justify-content: flex-start;
}

div.navigation.next {
  right: 0;
  justify-content: flex-end;
}

div.navigation div.background {
  height: 100%;
  position: absolute;
  transition: opacity .2s ease-in;
  width: 100%;
  z-index: 2;
}

div.navigation div.background {
  background: none;
  opacity: 0;
}

div.navigation.prev div.background,
div.popup div.navigation.prev div.background {
  background: none;
  background-image: linear-gradient(to right,#343E3D20,#343E3D00);
}

div.navigation.next div.background,
div.popup div.navigation.next div.background {
  background: none;
  background-image: linear-gradient(to left,#343E3D20,#343E4D00);
}

div.navigation:hover div.background {
  opacity: 1;
}

div.navigation:hover button i {
  color: var(--spectacular_red_glow);
  text-shadow: var(--spectacular_red_glowing);
}

div.navigation button {
  align-items: center;
  background-image: var(--protrusion_rounded_tahoma_white_dim);
  border: none;
  box-shadow: var(--shadow_floating);
  display: flex;
  height: 2rem;
  margin: 0.5rem;
  justify-content: center;
  width: 2rem;
  z-index: 3;
}

div.media div.container .expand {
  cursor: zoom-in;
  height: 100%;
  position: absolute;
  width: 100%;
}

div.media div.container.carousel .expand {
  left: 20%;
  width: 60%;
}