div.media {
  box-shadow: var(--protrusion_tahoma_white_dim);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

div.media.captioned {

}

div.media div.container {
  border-radius: 1.4rem;
  display: block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}

div.media div.container::before {
  content: "";
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

div.media div.container img,
div.media div.container video {
  cursor: zoom-in;
  display: block;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

div.media.captioned div.container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.media div.caption {
  background-color: var(--tahoma_white_dim);
  border-bottom-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  padding-bottom: 0.3rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.3rem;
}

div.media div.caption,
div.media div.caption p {
  font-size: var(--c5_font_size_0);
  line-height: var(--c5_line_height_0);
}

/* Popup: ////////////////////////////////////////////////////////////////////*/

div.media div.popup {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

div.media div.popup div.card {
  box-shadow: var(--shadow_floating);
  width: calc(100vw - var(--grid_margin) - var(--grid_margin));
}

@media screen and (max-width: 750px) {

  div.media div.popup div.card {
    width: calc(100vw - var(--grid_margin_min) - var(--grid_margin_min));
  }

}

div.media div.popup div.card div.container {
  border-top-left-radius: 1.4rem;
  border-top-left-radius: 1.4rem;
  overflow: hidden;
}

div.media div.popup div.card div.caption,
div.media div.popup div.card div.caption p {
  font-size: var(--c5_font_size_1);
  line-height: var(--c5_line_height_1);
}