---
import Headshot from "./Headshot.astro";
import HyperlinkButtons from "./HyperlinkButtons.astro";
import Tooltip from "./Tooltip.astro";

export interface Props {
  article?: string;
}

const {
  article,
} = Astro.props as Props;
---

<div class="article-profile">
  <div class="profile">
    <Headshot
      src="/img/headshot/headshot1.jpg"
      float="right"
    />
    <h2>
      Joel Elizaga
    </h2>
    <p>
      Joel Elizaga is a UX engineer based in the Pacific Northwest.
    </p>
  </div>
  {article === undefined || article == "project" &&
    <HyperlinkButtons
      buttons={[
        {
          href: "/projects",
          target: "_target",
          icon: "fa-solid fa-drafting-compass",
          tooltipContent: "Other projects",
          tooltipId: "projects-profile-projects"
        },
        {
          popup: "ContactPopup",
          icon: "fa-solid fa-envelope",
          tooltipContent: "Contact",
          tooltipId: "projects-profile-contact"
        },
        {
          href: "https://linkedin.com/in/joel-elizaga",
          target: "_blank",
          icon: "fa-brands fa-linkedin",
          tooltipContent: "LinkedIn",
          tooltipId: "projects-profile-linkedin"
        },
        {
          href: "https://github.com/jelizaga",
          target: "_blank",
          icon: "fa-brands fa-github",
          tooltipContent: "GitHub",
          tooltipId: "projects-profile-github"
        },
      ]}
      buttonDirection="column"
      tooltipPosition="left"
      display="protruding"
      float="right"
    />
  }
  {article == "blog" &&
    <HyperlinkButtons
      buttons={[
        {
          href: "rss.xml",
          target: "_blank",
          icon: "fa-solid fa-rss",
          tooltipContent: "Blog RSS",
          tooltipId: "blog-profile-rss"
        },
        {
          popup: "ContactPopup",
          icon: "fa-solid fa-envelope",
          tooltipContent: "Contact",
          tooltipId: "blog-profile-contact"
        },
        {
          href: "https://linkedin.com/in/joel-elizaga",
          target: "_blank",
          icon: "fa-brands fa-linkedin",
          tooltipContent: "LinkedIn",
          tooltipId: "blog-profile-linkedin"
        },
        {
          href: "https://github.com/jelizaga",
          target: "_blank",
          icon: "fa-brands fa-github",
          tooltipContent: "GitHub",
          tooltipId: "blog-profile-github"
        },
      ]}
      buttonDirection="column"
      tooltipPosition="left"
      display="protruding"
    />
  }
</div>

<style>
  .article-profile {
    border-bottom-left-radius: 2.7rem;
    border-bottom-right-radius: 2.7rem;
    box-shadow: var(--noonoo_depression_bright);
    display: flex;
    overflow: hidden;
  }

  .article-profile .profile {
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .article-profile .hyperlink-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>