---
import Headshot from "./Headshot.astro";
import Marquee from "./Marquee.astro";

export interface Props {
  marquee?: boolean;
}

const {
  marquee,
} = Astro.props as Props;
---

<section class="bio">
  <Headshot
    src="/img/headshot/headshot1.jpg"
    float="right"
  />
  <p>
    I'm <b>Joel</b>. I'm a UX engineer: I make useful technologies usable and usable
    technologies useful.
  </p>
  <p>
    I'm currently available for
    <em>front-end development</em>, 
    <em>UX engineering</em>,
    and <em>full-stack development</em>
    roles. Got a role to fill? <a href="/#contact">Contact me!</a>
  </p>
  <p>
    With that business aside, I like:
  </p>
  {marquee &&
    <Marquee
      text="guinea pigs, terrariums, hiking, design, technology, ethics in technology, open source, stationary, petrichor, cognitive science, film, photography, gradually replacing all my plastic stuff with glass stuff, daydreaming of unobtainable utopianism, street lamps and Christmas lights under myopia & astigmatism, spaced-repetition learning, growing food, wood, simulations, archivism, writing, exploration, hilariously awful movies, history, artifacts that accomplish something with precision (intentionally or not), shortcuts & hotkeys, instrumental music that transports listeners to far-off fictitious places, dérive, bok choy, mushrooms, tofu, stir fry, humanism, snow-capped mountains towering in the distance, the waves of the Puget Sound crushing against gray beaches and liquifying sand castles, the giant pacific octopodes probably hanging out in the ruins of the Tacoma Narrows Bridge, "
      orientation="row"
    />
  }
</section>