---
import { Prism } from '@astrojs/prism';

export interface Props {
  code: string;
  lang: string;
  filename?: string;
}

const { 
	code, 
  lang,
  filename
} = Astro.props as Props;
---

<div class="code">
  {filename &&
    <div class="code-title-bar">
      <span class="filename">{filename}</span>
      <span class="controls">
        <div class="red"></div>
        <div class="green"></div>
        <div class="blue"></div>
      </span>
    </div>
  }
  <Prism code={code} lang={lang} />
</div>

<style>
  .code {
    border-radius: 1.4rem;
    box-shadow: var(--noonoo_protrusion_bright);
    margin-bottom: 1rem;
    margin-top: 1rem;
    overflow: hidden;
  }

  .code .code-title-bar {
    color: var(--lawetlatla_ash_bright);
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
  }

  .code .controls {
    align-items: center;
    display: flex;
    gap: 0.33rem;
  }

  .code .controls div {
    border-radius: 100%;
    height: 0.85rem;
    width: 0.85rem;
  }

  .code .controls .red {
    background-image: var(--noonoo_protrusion_rounded_spectacular_red_bright);
    box-shadow: var(--noonoo_protrusion_rounded_bright);
  }

  .code .controls .green {
    background-image: var(--noonoo_protrusion_rounded_rain_city_emerald_bright);
    box-shadow: var(--noonoo_protrusion_rounded_bright);
  }

  .code .controls .blue {
    background-image: var(--noonoo_protrusion_rounded_whulge_blue_bright);
    box-shadow: var(--noonoo_protrusion_rounded_bright);
  }
</style>