
<div id="contact" class="contact noonoo-protruding-card">
  <div class="contact-form content">
    <h2><i class="fa-solid fa-paper-plane"></i> Contact</h2>
    <form 
      action="https://formsubmit.com/477da5cd69bd2fbe391ec1284252862a"
      method="POST"
    >
      <input 
        type="hidden"
        name="_subject"
        value="Contact - joelelizaga.com"
      />
      <input
        type="hidden"
        name="_autoresponse"
        value="Thanks for your message. - Joel"
      />
      <input
        type="hidden"
        name="_next"
        value="http://localhost:3000/#contact"
      />
      <label for="full-name">Full Name</label>
      <input
        type="text"
        id="full-name"
        name="full-name"
        placeholder="John Doe"
      />
      <label for="email">Email</label>
      <input 
        type="email" 
        id="email" 
        name="email"
        placeholder="name@example.com"
      />
      <input
        type="text"
        name="_honey"
        style="display:none"
      />
      <label for="organization">Organization</label>
      <input 
        type="text" 
        id="organization" 
        name="organization"
        placeholder="ACME, Inc."
      />
      <label for="project">Project</label>
      <label class="select">
        <select id="project" name="project">
          <option>Web Development</option>
          <option>UX</option>
        </select>
      </label>
      <label for="message">Message</label>
      <textarea
        id="message"
        name="message"
        placeholder="Your message here..."
      ></textarea>
      <button class="primary" type="submit">
        <i class="fa-solid fa-paper-plane"></i> Submit
      </button>
    </form>
  </div>
  <div class="contact-img">
    <img src="/img/placeholder/placeholder3.jpg">
  </div>
</div>

<style>
  .contact {
    display: grid;
    grid-template-columns: 61.8% auto;
  }

  .contact .contact-img img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .contact-img {
    border-radius: 0px 44px 44px 0px;
    overflow: hidden;
    position: relative;
    display: block;
  }

  .contact-img::before {
    border-radius: 0px 44px 44px 0px;
    box-shadow: var(--noonoo_depression_img);
    content: "";
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }
</style>