---
export interface Props {
}
---

<footer>
  <div>
    Hello!
  </div>
</footer>

<style>
  a {
    color: var(--lawetlatla_ash_dim);
  }

  footer {
    box-shadow: var(--noonoo_floor_protrusion_bright);
    box-sizing: border-box;
    margin-top: 1.4rem;
  }

  footer div {
    display: flex;
    justify-content: space-between;
    width: 1186px;
    margin-left: auto;
    margin-right: auto;
  }
</style>