---
export interface Props {
  description: string,
  icon: string,
  destination: string,
  target?: string
}
const { description, icon, destination, target = "_self" } = Astro.props as Props;
---

<a href={destination} target={target}>
  <button class="footer-badge tooltip">
    <i class={icon}></i>
    <span class="tooltip-bubble">{description}</span>
  </button>
</a>

<style>
  .footer-badge {
    background-color: var(--noonoo_protrusion_rounded_bright);
    border: none;
    border-radius: 100%;
    box-shadow: var(--noonoo_protrusion_bright);
    color: var(--lawetlatla_ash_dim);
    font-size: 1rem;
    height: 2rem;
    position: relative;
    width: 2rem;
  }

  .footer-badge:hover {
    cursor: pointer;
    color: var(--spectacular_red_bright);
    text-shadow: var(--spectacular_red_glowing);
  }

  .footer-badge:active {
    box-shadow: var(--noonoo_depression_bright), var(--noonoo_protrusion_bright);
  }
</style>