---
export interface Props {
  description: string,
  icon: string,
  destination: string,
  target?: string
}
const { description, icon, destination, target = "_self" } = Astro.props as Props;
---

<a class="footer-badge tooltip" href={destination} target={target}>
  <i class={icon}></i>
  <span class="tooltip-bubble">{description}</span>
</a>

<style>
  .footer-badge {
    align-content: center;
    align-items: center;
    background-image: var(--noonoo_protrusion_rounded_bright);
    border: none;
    border-radius: 100%;
    box-shadow: var(--noonoo_protrusion_bright);
    color: var(--lawetlatla_ash_dim);
    display: flex;
    height: 2rem;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-decoration-line: none;
    transition: box-shadow ease-in 0.1s;
    width: 2rem;
  }

  .footer-badge i {
    font-size: 1rem;
  }

  .footer-badge:hover {
    cursor: pointer;
    color: var(--spectacular_red_bright);
    text-shadow: var(--spectacular_red_glowing);
  }

  .footer-badge:active {
    box-shadow: var(--noonoo_depression_bright), var(--noonoo_protrusion_bright);
  }

  @media screen and (max-width: 1200px) {
    .footer-badge {
      height: 2.7rem;
      width: 2.7rem;
    }
    .footer-badge i {
      font-size: 1.4rem;
    }
  }
</style>