---
import FooterBadge from './FooterBadge.astro';

export interface Props {
  footerShadow?: boolean;
}
const { footerShadow } = Astro.props as Props;

const footerClasses = footerShadow ? "footer-shadowed" : "";
---

<footer class={footerClasses}>
  <div>
    <FooterBadge
      description="Contact"
      destination="/#contact"
      icon="fa-solid fa-paper-plane"
      tooltipId="contact-tooltip"
    />
    <FooterBadge
      description="GitHub"
      destination="https://github.com/jelizaga"
      icon="fa-brands fa-github"
      target="_blank"
      tooltipId="github-tooltip"
    />
    <FooterBadge
      description="LinkedIn"
      destination="https://linkedin.com/in/joel-elizaga"
      icon="fa-brands fa-linkedin"
      target="_blank"
      tooltipId="linkedin-tooltip"
    />
  </div>
</footer>

<style>
  a {
    color: var(--lawetlatla_ash_dim);
  }

  footer {
    box-shadow: var(--noonoo_floor_protrusion_bright);
    box-sizing: border-box;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-end;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  .footer-shadowed {
    box-shadow: var(--noonoo_floor_protrusion_shadow);
  }

  footer div {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-start;
    width: 61.803vw;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1200px) {
    footer div {
      gap: 1.7rem;
    }
  }

  @media screen and (max-width: 640px) {
    footer div {
      width: 95vw;
    }
  }
</style>