---
////////////////////////////////////////////////////////////////////////////////
// HeaderBar.astro /////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Header bar.

// Props ///////////////////////////////////////////////////////////////////////
export interface Props {
  id?: string;
  heading: string;
  icon: string;
}
const {
  id,
  heading,
  icon,
} = Astro.props as Props;
---

<header class="header-bar" id={id}>
  <h2 id={id}>
    <i class={icon}></i>
    {heading}
  </h2>
</header>

<style>
  .header-bar {
    box-shadow: var(--noonoo_protrusion_bright);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .header-bar h2 {
    margin-left: auto;
    margin-right: auto;
    width: var(--vw_golden_ratio_big);
  }

  .header-bar h2 i {
    font-size: 0.8em;
  }
</style>