---
export interface Props {
  heading?: string;
  headingIcon?: string;
  img?: string;
}

const { heading } = Astro.props as Props;
---

<header>
  <h1>{ heading }</h1>
</header>

<style>
  header h1 {
    text-align: center;
  }
</style>