---
export interface Props {
  heading?: string;
  headingIcon?: string;
  img?: string;
}

const { heading, headingIcon, img } = Astro.props as Props;
---

<header>
  <div class="heading">
    <h1>
      <span class="icon"><i class={headingIcon}></i></span>
      <span class="title">{heading}</span>
    </h1>
  </div>
  <div class="container">
    <img src={img} alt="" />
  </div>
</header>

<style>
  header {
    display: block;
    height: 6rem;
    position: relative;
  }

  header::before {
    box-shadow: var(--noonoo_depression_img);
  }

  header .heading {
    display: block;
    height: inherit;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    transform: translateX(-50%);
    width: 61.803vw;
    z-index: 1;
  }

  header img {
    z-index: 0;
  }

  header h1::after {
    background-image: linear-gradient(to right, #00000090, #00000000);
    border-left: 3px var(--spectacular_red_bright) double;
    content: "";
    display: inline-block;
    height: inherit;
    left: 1.5rem;
    position: absolute;
    transform: skew(-35deg);
    width: 115%;
    z-index: 1;
  }

  header h1 {
    align-items: center;
    color: var(--tahoma_white_bright);
    display: inline-flex;
    gap: 1rem;
    height: inherit;
    left: 0px;
    position: absolute;
    text-align: left;
    width: max-content;
  }

  header h1 .title {
    text-shadow: var(--noonoo_floating_card_shadow);
  }

  header h1 .icon {
    align-items: center;
    background-color: var(--tahoma_white_bright);
    border-radius: 100%;
    display: flex;
    font-size: 0.85em;
    height: 1.3em;
    justify-content: center;
    width: 1.3em;
  }

  header h1 .icon i {
    color: var(--lawetlatla_ash_dim);
  }

  header h1 span {
    position: relative;
    z-index: 2;
  }

  header .container {
    display: block;
    height: inherit;
    line-height: 0;
    overflow: hidden;
    position: relative;
  }

  header .container::before {
    content: "";
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
  }

  header .container img, header .container video {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 640px) {

    header .heading {
      width: 95vw;
    }
    
  }

</style>