---
import Nav from './Nav.astro';

export interface Props {
  headerShadow?: boolean;
}
const { headerShadow } = Astro.props as Props;

const headerClasses = headerShadow ? "header-shadowed" : "";
---

<header class={headerClasses}>
  <div>
    <a class="logo" href="/">&#10059;</a>
    <Nav />
  </div>
</header>

<style>
  header a {
    color: var(--lawetlatla_ash_dim);
    text-decoration-line: none;
  }

  header {
    box-shadow: var(--noonoo_ceiling_protrusion_bright);
    box-sizing: border-box;
    margin-bottom: 1.4rem;
  }

  .header-shadowed {
    box-shadow: var(--noonoo_ceiling_protrusion_shadow);
  }

  header div {
    display: flex;
    justify-content: space-between;
    width: 1186px;
    margin-left: auto;
    margin-right: auto;
  }

  header .logo {
    display: inline-block;
    margin: 0;
  }

  .logo {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
</style>