---
export interface Props {
  heading?: string;
  headingIcon?: string;
  img?: string;
  slug?: string;
}

const { heading, headingIcon, img, slug } = Astro.props as Props;
---

<header>
  <a href={slug}>
    <div class="heading">
      <h1>
        <span class="icon"><i class={headingIcon}></i></span>
        <span class="title">{heading}</span>
      </h1>
    </div>
    <div class="header-bg">
      <img src={img} alt="" />
    </div>
  </a>
</header>

<style>
  header {
    display: block;
    height: 7rem;
    position: relative;
    width: 100%;
  }

  header a {
    height: inherit;
    width: inherit;
  }

  header a .heading {
    align-items: center;
    display: flex;
    height: inherit;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    transform: translateX(-50%);
    width: 61.803vw;
    z-index: 1;
  }

  header img {
    z-index: 0;
  }

  header h1::after {
    background-image: linear-gradient(to right, #00000098, #00000000);
    /* border-left: 3px var(--spectacular_red_bright) double; */
    content: "";
    display: inline-block;
    height: inherit;
    left: 1.5rem;
    position: absolute;
    transform: skew(-40deg);
    width: 115%;
    z-index: 1;
  }

  header h1 {
    align-items: center;
    background-color: var(--tahoma_white_dim);
    border-radius: 1.4rem;
    box-shadow: var(--noonoo_floating_card_shadow);
    color: var(--lawetlatla_ash_dim);
    display: inline-flex;
    gap: 1rem;
    left: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    text-align: left;
    width: max-content;
  }

  header h1 .title {
    text-shadow: var(--noonoo_floating_card_shadow);
  }

  header h1 .icon {
    align-items: center;
    background-image: var(--noonoo_protrusion_rounded_bright);
    border-radius: 100%;
    box-shadow: var(--noonoo_protrusion_bright);
    display: flex;
    font-size: 0.85em;
    height: 1.3em;
    justify-content: center;
    transition: box-shadow 0.1s ease-in;
    width: 1.3em;
  }

  header a .heading h1 .icon i {
    color: var(--lawetlatla_ash_bright);
    transition: 0.1s text-shadow ease-in, 0.1s color ease-in;
  }

  header a:hover .heading h1 .icon i {
    color: var(--spectacular_red_bright);
  }

  header a:active .heading h1 .icon {
    box-shadow: var(--noonoo_protrusion_bright), var(--noonoo_depression_bright);
  }

  header h1 span {
    position: relative;
    z-index: 2;
  }

  header .header-bg {
    display: block;
    height: inherit;
    line-height: 0;
    overflow: hidden;
    position: relative;
  }

  header .header-bg::before {
    box-shadow: var(--noonoo_depression_img);
    content: "";
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  header .header-bg img, header .header-bg video {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 640px) {

    header a .heading {
      width: 95vw;
    }
    
  }

</style>