---
import ContactForm from "./ContactForm"
---

<div id="contact" class="index-contact centered">
  <div class="contact-form">
    <h2>
      <i class="fa-solid fa-envelope"></i>
      Contact
    </h2>
    <ContactForm
      client:load
    />
  </div>
  <div class="contact-img">
    <img src="/img/placeholder/placeholder3.jpg">
  </div>
</div>

<style>
  #contact {
    border-radius: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  #contact .contact-form {
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }

  .index-contact {
    box-shadow: var(--noonoo_protrusion_bright);
    display: grid;
    grid-template-columns: 61.8% auto;
  }

  .index-contact .contact-img img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .contact-img, .contact-img::before {
    border-radius: 0px 2.7rem 2.7rem 0px;
    overflow: hidden;
  }

  .contact-img {
    position: relative;
    display: block;
  }

  .contact-img::before {
    box-shadow: var(--noonoo_depression_img);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }

  @media screen and (max-width: 900px) {
    .index-contact {
      grid-template-columns: auto;
    }

    .contact-img, .contact-img::before {
      border-radius: 0px;
    }
  }
</style>