---
import ContactForm from "./ContactForm"
---

<div id="contact" class="index-contact centered">
  <div class="contact-form">
    <h2>
      <i class="fa-solid fa-envelope"></i>
      Contact Joel
    </h2>
    <p>
      <em>
        Let's get in touch! How can I assist you with your development and
        design needs?
      </em>
    </p>
    <hr />
    <ContactForm
      client:load
    />
    <img
      class="letter"
      src="/img/index/letter.png"
    />
  </div>
  <div class="contact-img">
    <img 
      class="background"
      src="/img/placeholder/placeholder3.jpg"
    />
  </div>
</div>

<style>
  #contact {
    border-radius: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  #contact .contact-form {
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    position: relative;
  }

  .index-contact {
    box-shadow: var(--noonoo_protrusion_bright);
    display: grid;
    grid-template-columns: 61.8% auto;
  }

  .index-contact .contact-img img.background {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .index-contact img.letter {
    bottom: 1rem;
    position: absolute;
    rotate: 305deg;
    right: -21rem;
    z-index: 2;
  }

  .contact-img, .contact-img::before {
    border-radius: 0px 2.7rem 2.7rem 0px;
    overflow: hidden;
  }

  .contact-img {
    position: relative;
    display: block;
  }

  .contact-img::before {
    box-shadow: var(--noonoo_depression_img);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }

  @media screen and (max-width: 1230px) {

    .index-contact img.letter {
      rotate: 291deg;
      right: -19rem;
      z-index: 2;
    }

  }

  @media screen and (max-width: 1000px) {

    .index-contact img.letter {
      right: -16rem;
      z-index: 2;
    }

  }

  @media screen and (max-width: 900px) {

    .index-contact {
      grid-template-columns: auto;
    }

    .contact-img, .contact-img::before {
      border-radius: 0px;
    }

    .index-contact img.letter {
      bottom: -18rem;
      right: 4rem;
      rotate: 315deg;
    }

  }

  @media screen and (max-width: 750px) {

    .index-contact img.letter {
      bottom: 0;
      top: 49rem;
      right: 4rem;
      rotate: 315deg;
    }

  }
</style>