---
import Bio from "./Bio.astro";
import HyperlinkButtons from "./HyperlinkButtons.astro";
import Octostar from "./Octostar.astro";
---

<header id="introduction">
  <div class="introduction-container">
    <div class="introduction-card-container">
      <Octostar
        spin="60"
      />
      <div class="introduction-card">
        <div class="bar protruding">
          <h1>
            <span class="me">
              Joel Elizaga
            </span>
            <span class="divider">
              ·
            </span>
            <span class="work">
              UX Engineer
            </span>
          </h1>
        </div>
        <div class="content">
          <Bio
            marquee={true}
          />
          <div class="button-set">
            <a href="#projects" class="button">
              View Projects
            </a>
            <a href="#contact" class="button primary">
              <i class="fa-solid fa-envelope"></i>
              Contact
            </a>
          </div>
        </div>
        <HyperlinkButtons
          buttons={[
            {
              href: "https://github.com/jelizaga",
              target: "_blank",
              icon: "fa-brands fa-github",
              tooltipContent: "GitHub",
              tooltipId: "intro-github-tooltip",
            },
            {
              href: "https://linkedin.com/in/joel-elizaga",
              target: "_blank",
              icon: "fa-brands fa-linkedin",
              tooltipContent: "LinkedIn",
              tooltipId: "intro-linkedin-tooltip",
            },
            {
              href: "/doc/joel_elizaga_resume.pdf",
              target: "_blank",
              icon: "fa-solid fa-file-pdf",
              tooltipContent: "Resume",
              tooltipId: "intro-resume-tooltip",
            }
          ]}
          display="protruding"
          justifyButtons="end"
          id="introduction-hyperlinks-row"
        />
      </div>
    </div>
  </div>
  <div class="introduction-bg">
    <img src="/img/placeholder/placeholder1.jpg" alt="" />
  </div>
</header>

<style>
  /* Container sizing: */
  #introduction {
    display: block;
    position: relative;
    width: 100%;
  }

  .introduction-container {
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  #introduction, .introduction-container, .introduction-bg {
    height: calc(100vh - 1.3rem);
    min-height: 34rem;
  }

  .introduction-card .hyperlinks {
    grid-area: footer;
  }

  /* Background: */
  .introduction-bg {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .introduction-bg::before {
    box-shadow: var(--noonoo_depression_img);
    content: "";
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  .introduction-bg img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  /* Introduction card: */
  .introduction-card {
    background-color: var(--tahoma_white_dim);
    border-radius: 2.7rem;
    box-shadow: var(--noonoo_floating_card_shadow);
    display: grid;
    grid-template-columns: [line1] auto [line2] auto [line3];
    grid-template-rows: [line1] auto [line2] auto [line3] auto [line4];
    grid-template-areas:
      "heading heading"
      "main sidebar"
      "footer footer";
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
  }

  .introduction-card .bar.protruding {
    border-top-left-radius: 2.7rem;
    border-top-right-radius: 2.7rem;
  }

  .introduction-card h1 {
    align-items: center;
    cursor: default;
    display: flex;
    grid-area: heading;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    width: 80%;
  }

  .introduction-card .headshot {
    border: var(--tahoma_white_dim) solid 3px;
    border-radius: 100%;
    box-shadow: var(--noonoo_protrusion_bright);
    float: right;
    height: clamp(8rem, 8rem, 275px);
    margin-left: 1rem;
    width: clamp(8rem, 8rem, 275px);
  }

  .introduction-card .content {
    grid-area: main;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .introduction-card .content .button-set {
    margin-top: 1rem;
  }

  @media screen and (max-width: 465px) {

    .introduction-card .content .button-set {
      justify-content: center;
    }

    .introduction-card .content .button-set a {
      width: 100%;
    }
  }

  @media screen and (max-width: 750px) {
    
    .introduction-card {
      width: 95vw;
    }

    .introduction-card h1 {
      justify-content: center;
    }

    #introduction, .introduction-container, .introduction-bg {
      min-height: 45rem;
    }
  }

  @media screen and (min-width: 1920px) {

    #introduction, .introduction-container, .introduction-bg {
      height: 30rem;
    }

  }

</style>