---
import Tooltip from "./Tooltip.astro";

---

<header id="introduction">
  <div class="introduction-container">
    <div class="introduction-card noonoo-floating-card">
      <h1>
        <span class="octostar"><img src="/img/favicon/favicon.svg" alt="">
        </span>
        Joel Elizaga
      </h1>
      <div class="content">
        <img 
          class="headshot" 
          src="/img/placeholder/placeholder3.jpg" 
          alt="Headshot of Joel Elizaga" 
        />
        <p>
          I'm a <code>UX engineer</code> practicing an HCI-informed fusion of
          <em>design</em> and <em>development</em>.
        </p>
        <p>
          My aim is to build technologies that are both <strong>usable</strong> 
          and <strong>useful</strong>.
        </p>
        <div class="button-set">
          <a href="#projects" class="button">Projects</a>
          <a href="#contact" class="button-primary"><i class="fa-solid fa-paper-plane"></i> Contact</a>
        </div>
      </div>
      <div class="hyperlink-buttons">
        <a
          class="tooltip"
          href="https://github.com/jelizaga"
          target="_blank"
          aria-labelledby="intro-github-tooltip"
        >
          <i class="fa-brands fa-github"></i>
          <Tooltip
            id="intro-github-tooltip"
            content="GitHub"
          />
        </a>
        <a
          class="tooltip"
          href="https://linkedin.com/in/joel-elizaga"
          target="_blank"
          aria-labelledby="intro-linkedin-tooltip"
        >
          <i class="fa-brands fa-linkedin"></i>
          <Tooltip
            id="intro-linkedin-tooltip"
            content="LinkedIn"
          />
        </a>
        <a
          class="tooltip"
          href="/doc/joel_elizaga_resume.pdf"
          target="_blank"
          aria-labelledby="intro-resume-tooltip"
        >
          <i class="fa-solid fa-file-pdf"></i>
          <Tooltip
            id="intro-resume-tooltip"
            content="Resume"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="introduction-bg">
    <img src="/img/placeholder/placeholder1.jpg" alt="" />
  </div>
</header>

<style>
  #introduction {
    display: block;
    height: 30rem;
    position: relative;
    width: 100%;
  }

  .introduction-container {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  .introduction-bg {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .introduction-bg::before {
    box-shadow: var(--noonoo_depression_img);
    content: "";
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  .introduction-bg img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .introduction-card {
    box-shadow: var(--noonoo_floating_card_shadow);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 61.803vw;
  }

  .introduction-card .content {
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }

  .introduction-card h1 {
    align-items: center;
    box-shadow: var(--noonoo_ceiling_protrusion_bright);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  .introduction-card .octostar {
    align-items: center;
    animation-name: spin;
    animation-delay: 0ms;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: var(--spectacular_red_bright);
    display: inline-flex;
    height: 0.65em;
    margin-bottom: 0.15rem;
    justify-content: center;
    width: 0.65em;
  }

  .introduction-card .octostar img {
    height: inherit;
    width: inherit;
  }

  .introduction-card .headshot {
    border: var(--tahoma_white_dim) solid 3px;
    border-radius: 100%;
    box-shadow: var(--noonoo_protrusion_bright);
    float: right;
    height: clamp(8rem, 8rem, 275px);
    margin-left: 1rem;
    width: clamp(8rem, 8rem, 275px);
  }

  .introduction-card .hyperlink-buttons {
    box-shadow: var(--noonoo_floor_protrusion_bright);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-bottom: 0.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.4rem;
  }

  .introduction-card .hyperlink-buttons a {
    align-items: center;
    background-image: var(--noonoo_protrusion_rounded_bright);
    border-radius: 100%;
    box-shadow: var(--noonoo_protrusion_bright);
    display: flex;
    height: 1.5rem;
    justify-content: center;
    position: relative;
    transition: box-shadow 0.1s ease-in;
    width: 1.5rem;
  }

  .introduction-card .hyperlink-buttons a i {
    color: var(--lawetlatla_ash_dim);
    transition: 0.1s ease-in color, 0.1s ease-in text-shadow;
  }

  .introduction-card .hyperlink-buttons a:hover i {
    color: var(--spectacular_red_bright);
  }

  .introduction-card .hyperlink-buttons a:active {
    box-shadow: var(--noonoo_protrusion_bright), var(--noonoo_depression_bright);
  }

  @media screen and (max-width: 640px) {
    
    .introduction-card {
      width: 95vw;
    }

  }

  @media screen and (max-width: 740px) {

    #introduction {
      height: 80rem;
    }

  }
</style>