---
import Nav from './Nav.astro';

export interface Props {
  currentPage?: string;
  headerShadow?: boolean;
}
const { currentPage, headerShadow } = Astro.props as Props;
---

<header class="masthead">
  <div class="container">
    <div class="logo-container">
      <a class="logo" href="/">
        <img 
          alt="Logo - an octostar."
          src="/img/octostar/octostar-lawetlatla-ash-dim.svg"
          class="octostar"
        />
      </a>
    </div>
    <Nav
      currentPage={currentPage}
    />
  </div>
</header>

<style>
  .masthead {
    background-color: var(--tahoma_white_dim);
    box-shadow: var(--noonoo_ceiling_protrusion_shadow);
    box-sizing: border-box;
  }

  .masthead .logo {
    height: 100%;
    width: fit-content;
  }

  .masthead .logo .octostar {
    height: 0.9rem;
    width: 0.9rem;
  }
  
  .masthead .logo-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .masthead .container {
    display: flex;
    justify-content: space-between;
    width: 61.803vw;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1200px) {
    
    .masthead .logo {
      font-size: 1.3rem;
    }

  }

  @media screen and (max-width: 750px) {

    .masthead {
      position: sticky;
      top: 0;
      z-index: 4;
    }

    .masthead .logo {
      display: none;
    }

    .masthead div {
      width: 100%;
    }

  }
</style>