---
import Nav from './Nav.astro';

export interface Props {
  currentPage?: string;
  headerShadow?: boolean;
}
const { currentPage, headerShadow } = Astro.props as Props;
---

<header class="masthead">
  <div>
    <a class="logo" href="/">&#10059;</a>
    <Nav
      currentPage={currentPage}
    />
  </div>
</header>

<style>
  .masthead a, header a:visited {
    color: var(--lawetlatla_ash_dim);
    text-decoration-line: none;
  }

  .masthead {
    background-color: var(--tahoma_white_dim);
    box-shadow: var(--noonoo_ceiling_protrusion_shadow);
    box-sizing: border-box;
  }

  .masthead div {
    display: flex;
    justify-content: space-between;
    width: 61.803vw;
    margin-left: auto;
    margin-right: auto;
  }

  .masthead .logo {
    display: inline-block;
    margin: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  @media screen and (max-width: 1200px) {
    
    .masthead .logo {
      font-size: 1.3rem;
    }

  }

  @media screen and (max-width: 750px) {

    .masthead {
      position: sticky;
      top: 0;
      z-index: 4;
    }

    .masthead .logo {
      display: none;
    }

    .masthead div {
      width: 100%;
    }

  }
</style>