---
import Nav from './Nav.astro';

export interface Props {
  currentPage?: string;
  headerShadow?: boolean;
}
const { currentPage, headerShadow } = Astro.props as Props;

let logoClasses = "logo";
if (currentPage == "home") {
  logoClasses += " selected";
}
---

<header class="masthead">
  <div class="container">
    <div class="logo-container">
      <a class={logoClasses} href="/">
        ❋
      </a>
    </div>
    <Nav
      currentPage={currentPage}
    />
  </div>
</header>

<style>
  .masthead {
    background-color: var(--tahoma_white_dim);
    box-shadow: var(--noonoo_ceiling_protrusion_shadow);
    box-sizing: border-box;
  }

  .masthead .logo {
    align-items: center;
    border-radius: 100%;
    color: var(--lawetlatla_ash_dim);
    display: flex;
    font-size: 1.2rem;
    height: inherit;
    justify-content: center;
    transition: 0.1s color ease-in, 0.1s text-shadow ease-in, 0.1s box-shadow ease-in;
    width: inherit;
  }

  .masthead .logo:hover {
    color: var(--spectacular_red_bright);
    text-shadow: var(--spectacular_red_glowing);
  }

  .masthead .logo:active, .masthead .logo.selected {
    box-shadow: var(--noonoo_depression_bright);
  }

  .masthead .logo .octostar {
    height: 0.9rem;
    width: 0.9rem;
  }
  
  .masthead .logo-container {
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
  }

  .masthead .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1200px) {
    
    .masthead .logo {
      font-size: 1.3rem;
    }

  }

  @media screen and (max-width: 750px) {

    .masthead {
      position: sticky;
      top: 0;
      z-index: 4;
    }

    .masthead .logo-container {
      display: none;
    }

    .masthead .container {
      width: 100%;
    }

  }
</style>