---
////////////////////////////////////////////////////////////////////////////////
// Octostar.astro //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

export interface Props {
  color?: string;
  spin?: string;
  spinDirection?: string;
}

const {
  color = "spectacular-red-bright",
  spin,
  spinDirection = "clockwise"
} = Astro.props as Props;

let octostarClasses = "octostar";
// Classes /////////////////////////////////////////////////////////////////////
switch (color) {
  case "spectacular-red-bright":
    octostarClasses += " spectacular-red-bright";
    break;
}
switch (spin) {
  case "40":
    octostarClasses += " animated spin-40";
    break;
  case "60":
    octostarClasses += " animated spin-60";
    break;
  case "120":
    octostarClasses += " animated spin-120";
    break;
  case "360":
    octostarClasses += " animated spin-360";
    break;
}
switch (spinDirection) {
  case "clockwise":
    octostarClasses += " clockwise";
    break;
  case "counterclockwise":
    octostarClasses += " counterclockwise";
    break;
}
---

<div class={octostarClasses}>
  <svg
    width="2.3997421mm"
    height="2.4020615mm"
    viewBox="0 0 2.3997421 2.4020615"
    version="1.1"
    id="svg5"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <sodipodi:namedview
      id="namedview7"
      pagecolor="#505050"
      bordercolor="#eeeeee"
      borderopacity="1"
      inkscape:showpageshadow="0"
      inkscape:pageopacity="0"
      inkscape:pagecheckerboard="0"
      inkscape:deskcolor="#505050"
      inkscape:document-units="mm"
      showgrid="false" />
    <defs
      id="defs2" />
    <g
      inkscape:label="Layer 1"
      inkscape:groupmode="layer"
      id="layer1"
      transform="translate(-79.584818,-120.05534)">
      <g
        aria-label="â‹"
        id="text63"
        style="font-size:3.175px;stroke-width:0.264583"
        inkscape:export-filename="favicon.svg"
        inkscape:export-xdpi="1058.45"
        inkscape:export-ydpi="1058.45">
        <path
          d="m 80.78468,120.05533 q 0.06666,0 0.139527,0.0729 0.05426,0.0543 0.05426,0.16898 0,0.0109 -0.0078,0.0589 l -0.120923,0.74104 0.440284,-0.60926 q 0.03256,-0.045 0.03566,-0.0465 0.08062,-0.0822 0.15813,-0.0822 0.10232,0 0.150379,0.0481 0.04651,0.0465 0.04651,0.15038 0,0.0853 -0.08062,0.15813 -0.0155,0.0139 -0.05426,0.0419 l -0.603064,0.43253 0.74259,-0.12092 q 0.03876,-0.006 0.05736,-0.006 0.117822,0 0.170532,0.0527 0.07131,0.0713 0.07131,0.13952 0,0.0682 -0.07131,0.13953 -0.05581,0.0558 -0.170532,0.0558 -0.01085,0 -0.06821,-0.009 l -0.731738,-0.11938 0.610815,0.43874 q 0.04341,0.0341 0.04651,0.0357 0.08062,0.0822 0.08062,0.15813 0,0.10387 -0.04651,0.15038 -0.04806,0.0481 -0.150379,0.0481 -0.06666,0 -0.15813,-0.0822 -0.0155,-0.014 -0.04341,-0.0527 l -0.432532,-0.60307 0.120923,0.74104 q 0.0078,0.0481 0.0078,0.0589 0,0.11473 -0.05426,0.16899 -0.07286,0.0729 -0.139527,0.0729 -0.06666,0 -0.139526,-0.0729 -0.05426,-0.0543 -0.05426,-0.16899 0,-0.0217 0.0078,-0.0682 l 0.120923,-0.73174 -0.432532,0.60307 q -0.02791,0.0387 -0.04341,0.0527 -0.08061,0.0822 -0.15813,0.0822 -0.102319,0 -0.150378,-0.0481 -0.04651,-0.0465 -0.04651,-0.15038 0,-0.11782 0.08062,-0.15813 0.0031,-0.002 0.04651,-0.0357 l 0.610815,-0.43874 -0.731738,0.11938 q -0.05736,0.009 -0.06821,0.009 -0.114722,0 -0.170532,-0.0558 -0.07131,-0.0713 -0.07131,-0.13953 0,-0.0682 0.07131,-0.13952 0.05271,-0.0527 0.170532,-0.0527 0.0186,0 0.05736,0.006 l 0.74259,0.12092 -0.603064,-0.43253 q -0.03876,-0.0279 -0.05426,-0.0419 -0.08062,-0.0822 -0.08062,-0.15813 0,-0.10387 0.04651,-0.15038 0.04806,-0.0481 0.150378,-0.0481 0.05581,0.031 0.15813,0.0822 0.0031,0.002 0.03566,0.0465 l 0.440283,0.60926 -0.120923,-0.73174 q -0.0078,-0.0465 -0.0078,-0.0682 0,-0.11472 0.05426,-0.16898 0.07131,-0.0729 0.139526,-0.0729 z"
          style="fill:#e60000"
          id="path895" />
      </g>
    </g>
  </svg>
</div>

<style>
  .octostar {
    align-items: center;
    display: inline-flex;
    height: 0.65em;
    justify-content: center;
    width: 0.65em;
  }

  .octostar svg {
    height: inherit;
    width: inherit;
  }

  .octostar.spectacular-red-bright svg g g path {
    fill: var(--spectacular_red_bright) !important;
  }

  .octostar.lawetlatla-ash-dim svg g g path {
    fill: var(--lawetlatla_ash_dim) !important;
  }

  .octostar.lawetlatla-ash-bright svg g g path {
    fill: var(--lawetlatla_ash_bright) !important;
  }

  .octostar.animated {
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .octostar.animated.clockwise {
    animation-name: spin-cw;
  }

  .octostar.animated.counterclockwise {
    animation-name: spin-cc;
  }

  .octostar.animated.spin-60 {
    animation-duration: 60s;
  }

  .octostar.octostar.spin-120 {
    animation-duration: 120s;
  }

  .octostar.animated.spin-360 {
    animation-duration: 360s;
  }

  @keyframes spin-cw {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
  }

  @keyframes spin-cc {
    from {transform:rotate(359deg);}
    to {transform:rotate(0deg);}
  }
</style>