---
////////////////////////////////////////////////////////////////////////////////
// PaginationPage //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
// Page buttons used by `Pagination`.

export interface Props {
  path?: string;
  page?: number;
  pageCurrent?: boolean;
  ellipsis?: boolean;
  prevPage?: string;
  nextPage?: string;
}

const { path, page, pageCurrent = false, ellipsis = false, prevPage, nextPage } = Astro.props;

---

{page &&
  <li class={pageCurrent ? "page current-page" : "page"}>
    <a href={!pageCurrent && `${page}`}>{page}</a>
  </li>
}

{ellipsis &&
  <li class="ellipsis inactive">
    <i class="fa-solid fa-ellipsis"></i>
  </li>
}

{prevPage &&
  <li class="previous-page page">
    <a class={prevPage ? "" : "inactive"} href={prevPage}>
      <i class="fa-solid fa-circle-chevron-left"></i>
    </a>
  </li>
}

{nextPage &&
  <li class="next-page page">
    <a class={nextPage ? "" : "inactive"} href={nextPage}>
      <i class="fa-solid fa-circle-chevron-right"></i>
    </a>
  </li>
}

<style>
  .page, .current-page, .previous-page, .next-page, .ellipsis {
    background-color: var(--noonoo_protrusion_rounded_bright);
    border-radius: 1rem;
    height: 1.5rem;
    position: relative;
    vertical-align: middle;
    width: 1.5rem;
    transition: box-shadow ease-in 0.1s;
  }

  .page:active {
    box-shadow: var(--noonoo_depression_bright);
  }

  .page a, .current-page a, .ellipsis a, .previous-page a, .next-page a {
    align-content: center;
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    text-align: center;
    width: inherit;
  }

  .page a {
    color: var(--lawetlatla_ash_dim);
  }

  .current-page {
    box-shadow: var(--noonoo_depression_bright);
  }

  .inactive a, .current-page a {
    color: var(--lawetlatla_ash_bright);
    cursor: default;
  }

  .inactive a:hover, .current-page a:hover {
    text-shadow: none;
  }

  .ellipsis {
    font-size: 0.7rem;
  }

  .next-page, .previous-page {
    font-size: 0.8rem;
  }

  .ellipsis, .next-page, .previous-page {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 1660px) {
    .page, .current-page, .previous-page, .next-page, .ellipsis {
      height: 2rem;
      width: 2rem;
    }

    .ellipsis {
      font-size: 0.9rem;
    }

    .next-page, .previous-page {
      font-size: 1rem;
    }
  }
</style>