---
import { Image } from 'astro:assets';
import { Debug } from 'astro:components';

interface Props {
  src: string;
  height: number;
  width: number;
  alt?: string;
  borderRadius?: boolean;
  containerDepth?: string;
}

const {
  src,
  height,
  width,
  alt = "",
  borderRadius = true,
  containerDepth = "depression"
} = Astro.props as Props;
---

<div
  class:list={[
    "container",
    {"straight-edges": (!borderRadius)},
    {"depression": (containerDepth == "depression")},
    {"protrusion": (containerDepth == "protrusion")},
    {"flat": (containerDepth == "flat")}
  ]}
>
  <Image
    src={src}
    alt={alt}
    height={height}
    width={width}
  />
</div>