<!DOCTYPE html>

<html lang="en-US">

	<head>
		<title>
			{{page.title}}
		</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
		<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon.png">
		<script src="{{site.baseurl}}/js/jquery.js"></script>
		<script src="{{site.baseurl}}/js/index-grid.js"></script>
		<script src="{{site.baseurl}}/js/index-animation.js"></script>
		<meta charset="UTF-8">
		<meta name="author" content="Joel Elizaga">
		<meta name="description" content="{{page.description}}">
		<meta name="keywords" content="{{page.keywords}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

		<video id="cinemagram" src="{{site.baseurl}}/img/cinemagram/uw-crow.mp4" loop="true" autoplay="true" playsinline muted></video>
		{% include mobile-menu.html %}

		{% include nav.html %}

		{{content}}

	</body>

</html>