<!DOCTYPE html>

<html>

	<head>
		<title>
			{{page.title}}
		</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
		<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon.png">
		<script src="{{site.baseurl}}/js/jquery.js"></script>
		<meta name="author" content="Joel Elizaga">
		<meta name="description" content="{{page.description}}">
		<meta name="keywords" content="{{page.keywords}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

		<div class="background-image"></div>

		{% include nav.html %}

		{% include mobile-menu.html %}

		{{content}}

		{% include footer.html %}

	</body>

</html>